*.cache
*.pdb
.guidsForInstaller.xml
output/
BuildDir/
Thumbs.db
.bzr/
obj/
bin/
*.suo
*.resharper
*.user
_ReSharper.*
config/
*.pidb
*.userprefs
*.nunit
*.usertasks
*~
*.resources
nant.resx.bak
lib/
L10NSharp.*
vagrant/.vagrant
external/
SampleProjects
common/*.po
Downloads/
Mercurial/
MercurialExtensions/
xulrunner/
package/
**/packages/
build/NuGet.exe
External/
WeSay_Helps.chm
.idea/
icu4c.readme.txt
.vscode/
**/.vs
**/Firefox/*