*.cache
*.pdb
templates\.guidsForInstaller.xml
common\.guidsForInstaller.xml
output
Thumbs.db
.bzr
obj
bin
SampleProjects/PRETEND
*.suo
*.resharper
*.user
SampleProjects/src/Biatah/Cache
_ReSharper.*
config
*.resources
*.pidb
*.userprefs
*.nunit
*.usertasks
*~
*.orig
*.mdb
nant.resx.bak
lib/*.Tests.dll
desktop.ini
Mercurial
build/old
lib/$(Configuration)
test-results
Autofac.dll
Chorus*.exe*
Geckofx-Winforms-14.dll
L10NSharp.dll
LibChorus*.dll*
NDesk.DBus.dll*
Palaso*.dll*
SIL.Archiving.dll*
geckofix.so
geckofx-core-14.dll*
ibusdotnet.dll
icu*.dll*
Mercurial*.zip
vagrant/.vagrant
externals
common/WeSay_Helps.chm
common/Chorus_Help.chm
Enchant.Net.dll*
Ionic.Zip.dll
taglib-sharp.dll
common/*.po
package/lucid/rules
src/packages/
build/NuGet.exe
