<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
	<DirectoryRef Id="biatahSampleDir" >

	  <Component Id ="biatahShortcuts" Guid ="FB0973B3-8502-42ea-9B78-0879A3CAD40B">
		<Shortcut Id="RunBiatahShortcut"  Directory="WeSayShortcutDir" Name="Run Biatah Sample"
			Target="[!WeSay.App.exe]" Arguments ='"[!biatah.lift]"' WorkingDirectory="biatahWeSay" Icon ="SampleRunIcon" />

		<Shortcut Id="SetupBiatahShortcut"  Directory="WeSayShortcutDir" Name="Configure Biatah Sample"
				  Target="[!WeSayConfigurationTool]"  Arguments ='"[!biatah.WeSayConfig]"'
		   WorkingDirectory="biatahWeSay" Icon ="SampleSetupIcon" />
		<!-- this Registry entry is required because we have shortcuts that aren't 'advertised',
					  which we have because 'advertised shortcuts can't have targets. Don't as ME.
					  See: http://www.nabble.com/ICE38-and-ICE43-on-Shortcuts-t1409061.html -->
		<Registry Root="HKCU" Key="SOFTWARE\Components\BiatahSamples" KeyPath="yes" />

	  </Component>

		<Component Id="biatahMain" Guid="{5008C03F-7946-4147-96B1-442AD4999FA9}">
		  <File Id="writingSystemPrefs.xml" Name="writingSystemPrefs.xml" Source="..\..\sampleprojects\biatah\writingSystemPrefs.xml" >
			 <Permission GenericAll="yes" User="Everyone" />
		  </File>
		  <File Id="biatah.lift" Name="biatah.lift" KeyPath="yes" Source="..\..\sampleprojects\biatah\biatah.lift" >
			 <Permission GenericAll="yes" User="Everyone" />
		  </File>
		  <File Id="biatah.WeSayConfig" Name="biatah.WeSayConfig"  Source="..\..\sampleprojects\biatah\biatah.WeSayConfig" >
			 <Permission GenericAll="yes" User="Everyone" />
		  </File>
		</Component>
		<Directory Id="biatahCacheDir" Name="Cache">
		  <!--  directory will be filled in by auto generated wxs file, which will reference this -->
		</Directory>
		<Directory Id="biatahPicturesDir" Name="pictures">
		  <Component Id="biatahPictures" Guid="{FFC212BA-EBF6-41BD-A015-94BF95D3B2AA}">
			<File Id="waterBasket1.png" Name="waterBasket1.png" KeyPath="yes" Source="..\..\sampleprojects\biatah\pictures\waterBasket1.png">
			   <Permission GenericAll="yes" User="Everyone" />
			</File>
		  </Component>
		</Directory>
	</DirectoryRef>


	<ComponentGroup Id="biatahSample">

	  <ComponentRef Id ="biatahShortcuts"/>
	  <ComponentRef Id ="biatahMain"/>
	 <!-- <ComponentRef Id ="biatahCache"/> -->
	  <ComponentRef Id ="biatahPictures"/>
	  <ComponentGroupRef Id ="biatahCache"/>
	</ComponentGroup>


  </Fragment>
</Wix>