<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
	<DirectoryRef Id='ProgramDir'>
	  <Directory Id="common" Name="common">


		<Component Id="PartsOfSpeech.xml" Guid="{6B734BDE-1702-418D-93BC-40A7F310B14F}">
		  <File Id="PartsOfSpeech.xml" Name="PartsOfSpeech.xml" KeyPath="yes" Source="..\..\common\PartsOfSpeech.xml" />
		</Component>

		<Directory Id="wordpacks" Name="wordpacks">
		  <Directory Id="SILCAWL" Name="SILCAWL">
			<Component Id="SILCAWL.lift" Guid="{51F4A62A-A216-43bf-820B-3683F64FBA19}">
			  <File Id="SILCAWL.lift" Name="SILCAWL.lift" KeyPath="yes" Source="..\..\common\SILCAWL\SILCAWL.lift" />
			</Component>
		  </Directory>
		  <Directory Id="SILCAWL_MozambiqueAddendum" Name="SILCAWL_MozambiqueAddendum">
			<Component Id="SILCAWL_MozambiqueAddendum.lift" Guid="{A6664CDF-8E27-487f-84FE-594675B7F112}">
			  <File Id="SILCAWL_MozambiqueAddendum.lift" Name="SILCAWL_MozambiqueAddendum.lift" KeyPath="yes" Source="..\..\common\SILCAWL-MozambiqueAddendum\SILCAWL-MozambiqueAddendum.lift" />
			</Component>
		  </Directory>
		</Directory>

		<Component Id="SemanticDomains.xml" Guid="{0D314BE5-ABB3-4AB9-A698-F94FFA8B250C}">
		  <File Id="SemanticDomains.xml" Name="SemanticDomains.xml" KeyPath="yes" Source="..\..\common\SemanticDomains.xml" />
		</Component>
		<Component Id="default.WeSayConfig" Guid="{4D0210A0-095D-48DE-9399-4074A97864A4}">
		  <File Id="default.WeSayConfig" Name="default.WeSayConfig" KeyPath="yes" Source="..\..\common\default.WeSayConfig" />
		</Component>
		<Component Id="CommonWritingSystemPrefs.xml" Guid="{2D64A565-57BC-4D0C-BAAF-13AB5A686E9B}">
		  <File Id="CommonwritingSystemPrefs.xml" Name="writingSystemPrefs.xml" KeyPath="yes" Source="..\..\common\writingSystemPrefs.xml" />
		</Component>

		<Component Id="Ddp4.xml" Guid="{0036EBE1-93B6-463e-A089-8DB1201E61A6}">
		  <File Id="Ddp4.xml" Name="Ddp4.xml" KeyPath="yes" Source="..\..\common\Ddp4.xml" />
		</Component>
		<Component Id="Ddp4Questions_en.xml" Guid="{D89FD082-3189-4ade-8477-A07B60C99790}">
		  <File Id="Ddp4Questions_en.xml" Name="Ddp4Questions-en.xml" KeyPath="yes" Source="..\..\common\Ddp4Questions-en.xml" />
		</Component>
		<Component Id="Ddp4Questions_fr.xml" Guid="{48879B52-29CB-4197-B238-5276AFB8CB4B}">
		  <File Id="Ddp4Questions_fr.xml" Name="Ddp4Questions-fr.xml" KeyPath="yes" Source="..\..\common\Ddp4Questions-fr.xml" />
		</Component>
		<Component Id="Ddp4Questions_id.xml" Guid="{242A15FA-A451-43e5-B91B-B7977BADA5EE}">
		  <File Id="Ddp4Questions_id.xml" Name="Ddp4Questions-id.xml" KeyPath="yes" Source="..\..\common\Ddp4Questions-id.xml" />
		</Component>

		<Component Id="ArtOfReadingIndexV3_en.txt" Guid="{34302393-949D-42e8-BEE8-8C52B03F571A}">
		  <File Id="ArtOfReadingIndexV3_en.txt" Name="ArtOfReadingIndexV3_en.txt" KeyPath="yes" Source="..\..\common\ArtOfReadingIndexV3_en.txt" />
		</Component>

	  </Directory>
	</DirectoryRef>


	<ComponentGroup Id="defaultFiles">
	  <ComponentRef Id="PartsOfSpeech.xml" />
	  <ComponentRef Id="SILCAWL.lift" />
	  <ComponentRef Id="SILCAWL_MozambiqueAddendum.lift" />
	  <ComponentRef Id="SemanticDomains.xml" />
	  <ComponentRef Id="default.WeSayConfig" />
	  <ComponentRef Id="CommonWritingSystemPrefs.xml" />
	  <ComponentRef Id="ArtOfReadingIndexV3_en.txt"/>
	</ComponentGroup>

	<ComponentGroup Id="ddpStuff">
	  <ComponentRef Id="Ddp4.xml"/>
	  <ComponentRef Id="Ddp4Questions_en.xml"/>
	  <ComponentRef Id="Ddp4Questions_fr.xml"/>
	  <ComponentRef Id="Ddp4Questions_id.xml"/>
	</ComponentGroup>

  </Fragment>
</Wix>
