<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<DirectoryRef Id="common">
			<Component Id="wesay_da.po" Guid="B80E2601-8C27-46CC-8D98-486B042440A6">
				<File Id="wesay_da.po" Name="wesay-da.po" KeyPath="yes" Source="..\..\common\wesay-da.po" />
			</Component>
			<Component Id="wesay_es.po" Guid="F716E231-34C2-434A-B4D4-568C9AF6B697">
				<File Id="wesay_es.po" Name="wesay-es.po" Source="..\..\common\wesay-es.po" />
			</Component>
			<Component Id="wesay_fr.po" Guid="5308921D-F150-484E-A232-51FC73053974">
				<File Id="wesay_fr.po" Name="wesay-fr.po" Source="..\..\common\wesay-fr.po" />
			</Component>
			<Component Id="wesay_he.po" Guid="7BA5C927-2633-4DA5-AA38-B7CD4A1922C7">
				<File Id="wesay_he.po" Name="wesay-he.po" Source="..\..\common\wesay-he.po" />
			</Component>
			<Component Id="wesay_id.po" Guid="77FC6EFA-C8A4-4EE6-AEF9-E7697B7BDEF4">
				<File Id="wesay_id.po" Name="wesay-id.po" Source="..\..\common\wesay-id.po" />
			</Component>
			<Component Id="wesay_is.po" Guid="962C5BB9-336E-42FD-A683-657E4BDEEE98">
				<File Id="wesay_is.po" Name="wesay-is.po" Source="..\..\common\wesay-is.po" />
			</Component>
			<Component Id="wesay_my.po" Guid="87816EAF-1582-4909-8184-4D693A9CF9FF">
				<File Id="wesay_my.po" Name="wesay-my.po" Source="..\..\common\wesay-my.po" />
			</Component>
			<Component Id="wesay_nl.po" Guid="A009E607-B0B3-49A5-9ADB-394EC6C30F49">
				<File Id="wesay_nl.po" Name="wesay-nl.po" Source="..\..\common\wesay-nl.po" />
			</Component>
			<Component Id="wesay_oc.po" Guid="162964BC-E0D2-48C7-844B-447C186C382C">
				<File Id="wesay_oc.po" Name="wesay-oc.po" Source="..\..\common\wesay-oc.po" />
			</Component>
			<Component Id="wesay_pl.po" Guid="7EDB3A60-8958-4DB9-AB3E-8D4293795A15">
				<File Id="wesay_pl.po" Name="wesay-pl.po" Source="..\..\common\wesay-pl.po" />
			</Component>
			<Component Id="wesay_pt.po" Guid="959CBDAA-E7D7-4EAE-906A-4194C6703AEB">
				<File Id="wesay_pt.po" Name="wesay-pt.po" Source="..\..\common\wesay-pt.po" />
			</Component>
			<Component Id="wesay_ru.po" Guid="CA2B17E6-369E-4F60-9D5C-B95BD3C29DDF">
				<File Id="wesay_ru.po" Name="wesay-ru.po" Source="..\..\common\wesay-ru.po" />
			</Component>
			<Component Id="wesay_rw.po" Guid="F7D6C63F-F748-4C10-9ED8-7EC897E63E94">
				<File Id="wesay_rw.po" Name="wesay-rw.po" Source="..\..\common\wesay-rw.po" />
			</Component>
			<Component Id="wesay_sv.po" Guid="1F743A7E-08E1-4DA4-809A-0332551382E3">
				<File Id="wesay_sv.po" Name="wesay-sv.po" Source="..\..\common\wesay-sv.po" />
			</Component>
			<Component Id="wesay_th.po" Guid="8CA6B5C5-2561-478E-9399-D93B2365E50A">
				<File Id="wesay_th.po" Name="wesay-th.po" Source="..\..\common\wesay-th.po" />
			</Component>
			<Component Id="wesay_tpi.po" Guid="5805C282-FACC-445E-AEA8-D130414A6EC6">
				<File Id="wesay_tpi.po" Name="wesay-tpi.po" Source="..\..\common\wesay-tpi.po" />
			</Component>
			<Component Id="wesay_vi.po" Guid="69AF6BD2-AC54-4169-91E9-D7974B573BC7">
				<File Id="wesay_vi.po" Name="wesay-vi.po" Source="..\..\common\wesay-vi.po" />
			</Component>
			<Component Id="wesay_zh_CN.po" Guid="56C77817-3404-4B26-ADD7-0FF40ED4A3B5">
				<File Id="wesay_zh_CN.po" Name="wesay-zh_CN.po" Source="..\..\common\wesay-zh_CN.po" />
			</Component>
		</DirectoryRef>
		<ComponentGroup Id="PoFiles">
			<ComponentRef Id="wesay_da.po" />
			<ComponentRef Id="wesay_es.po" />
			<ComponentRef Id="wesay_fr.po" />
			<ComponentRef Id="wesay_he.po" />
			<ComponentRef Id="wesay_id.po" />
			<ComponentRef Id="wesay_is.po" />
			<ComponentRef Id="wesay_my.po" />
			<ComponentRef Id="wesay_nl.po" />
			<ComponentRef Id="wesay_oc.po" />
			<ComponentRef Id="wesay_pl.po" />
			<ComponentRef Id="wesay_pt.po" />
			<ComponentRef Id="wesay_ru.po" />
			<ComponentRef Id="wesay_rw.po" />
			<ComponentRef Id="wesay_sv.po" />
			<ComponentRef Id="wesay_th.po" />
			<ComponentRef Id="wesay_tpi.po" />
			<ComponentRef Id="wesay_vi.po" />
			<ComponentRef Id="wesay_zh_CN.po" />
		</ComponentGroup>
	</Fragment>
</Wix>
