<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<DirectoryRef Id="common">
			<Component Id="wesay.az.po" Guid="286A5C5A-DB1C-421B-BC75-08BAC801638A">
				<File Id="wesay.az.po" Name="wesay.az.po" KeyPath="yes" Source="..\..\common\wesay.az.po" />
			</Component>
			<Component Id="wesay.da.po" Guid="296A1524-D8B6-4AD8-ABE0-557D33004863">
				<File Id="wesay.da.po" Name="wesay.da.po" Source="..\..\common\wesay.da.po" />
			</Component>
			<Component Id="wesay.es.po" Guid="9BD4F952-BA55-4C0F-B99C-E39C287096BB">
				<File Id="wesay.es.po" Name="wesay.es.po" Source="..\..\common\wesay.es.po" />
			</Component>
			<Component Id="wesay.fr.po" Guid="F018BA9E-B0D9-43F8-B68F-BE10011D4EB9">
				<File Id="wesay.fr.po" Name="wesay.fr.po" Source="..\..\common\wesay.fr.po" />
			</Component>
			<Component Id="wesay.he.po" Guid="644DE46B-B91A-4AC4-ACE0-3B72D97F344A">
				<File Id="wesay.he.po" Name="wesay.he.po" Source="..\..\common\wesay.he.po" />
			</Component>
			<Component Id="wesay.hi.po" Guid="FDADB576-8836-4515-B059-67223530506C">
				<File Id="wesay.hi.po" Name="wesay.hi.po" Source="..\..\common\wesay.hi.po" />
			</Component>
			<Component Id="wesay.id.po" Guid="3A18D9FB-6E2B-4513-957E-E3EE7368304D">
				<File Id="wesay.id.po" Name="wesay.id.po" Source="..\..\common\wesay.id.po" />
			</Component>
			<Component Id="wesay.is.po" Guid="268FC1EB-DAA4-4700-A19C-BC03A5B78F07">
				<File Id="wesay.is.po" Name="wesay.is.po" Source="..\..\common\wesay.is.po" />
			</Component>
			<Component Id="wesay.km.po" Guid="0D50CC6A-4C0A-418B-A830-598D1EA05E68">
				<File Id="wesay.km.po" Name="wesay.km.po" Source="..\..\common\wesay.km.po" />
			</Component>
			<Component Id="wesay.lo.po" Guid="569A4D3A-B7D0-4B09-AFB6-2C37C8079BEB">
				<File Id="wesay.lo.po" Name="wesay.lo.po" Source="..\..\common\wesay.lo.po" />
			</Component>
			<Component Id="wesay.my.po" Guid="273C57F2-2367-4021-AB12-5B439725C9B2">
				<File Id="wesay.my.po" Name="wesay.my.po" Source="..\..\common\wesay.my.po" />
			</Component>
			<Component Id="wesay.nl.po" Guid="DB1B1D12-2634-4813-8EDD-1A9506F3DB70">
				<File Id="wesay.nl.po" Name="wesay.nl.po" Source="..\..\common\wesay.nl.po" />
			</Component>
			<Component Id="wesay.oc.po" Guid="FC610C3E-4CBE-42EF-8867-2D73F4A90EF1">
				<File Id="wesay.oc.po" Name="wesay.oc.po" Source="..\..\common\wesay.oc.po" />
			</Component>
			<Component Id="wesay.pl.po" Guid="68502187-6AFB-46EE-8DD3-14C3E2B04AF9">
				<File Id="wesay.pl.po" Name="wesay.pl.po" Source="..\..\common\wesay.pl.po" />
			</Component>
			<Component Id="wesay.pt.po" Guid="83D2F849-2660-4D1A-B417-C3223DD2BBD9">
				<File Id="wesay.pt.po" Name="wesay.pt.po" Source="..\..\common\wesay.pt.po" />
			</Component>
			<Component Id="wesay.ru.po" Guid="14DF9DC8-AB37-46AB-A4DA-7115E877ABFD">
				<File Id="wesay.ru.po" Name="wesay.ru.po" Source="..\..\common\wesay.ru.po" />
			</Component>
			<Component Id="wesay.rw.po" Guid="44C58605-F557-46C6-8EFE-A1243CEC2C29">
				<File Id="wesay.rw.po" Name="wesay.rw.po" Source="..\..\common\wesay.rw.po" />
			</Component>
			<Component Id="wesay.sv.po" Guid="944ECDC5-4439-47BC-9761-FD364A44A3AA">
				<File Id="wesay.sv.po" Name="wesay.sv.po" Source="..\..\common\wesay.sv.po" />
			</Component>
			<Component Id="wesay.th.po" Guid="0C1C5ACC-7785-4467-BFD4-A4097A0BAD9E">
				<File Id="wesay.th.po" Name="wesay.th.po" Source="..\..\common\wesay.th.po" />
			</Component>
			<Component Id="wesay.tpi.po" Guid="F0D5500E-5BFF-43A1-BE87-CC785B3EFCC8">
				<File Id="wesay.tpi.po" Name="wesay.tpi.po" Source="..\..\common\wesay.tpi.po" />
			</Component>
			<Component Id="wesay.vi.po" Guid="F562D3C4-6260-4B44-A489-22CBFDFE1F02">
				<File Id="wesay.vi.po" Name="wesay.vi.po" Source="..\..\common\wesay.vi.po" />
			</Component>
			<Component Id="wesay.zh_CN.po" Guid="ABE20632-477D-4B2A-B135-EC3FDF0194F1">
				<File Id="wesay.zh_CN.po" Name="wesay.zh_CN.po" Source="..\..\common\wesay.zh_CN.po" />
			</Component>
		</DirectoryRef>
		<ComponentGroup Id="PoFiles">
			<ComponentRef Id="wesay.az.po" />
			<ComponentRef Id="wesay.da.po" />
			<ComponentRef Id="wesay.es.po" />
			<ComponentRef Id="wesay.fr.po" />
			<ComponentRef Id="wesay.he.po" />
			<ComponentRef Id="wesay.hi.po" />
			<ComponentRef Id="wesay.id.po" />
			<ComponentRef Id="wesay.is.po" />
			<ComponentRef Id="wesay.km.po" />
			<ComponentRef Id="wesay.lo.po" />
			<ComponentRef Id="wesay.my.po" />
			<ComponentRef Id="wesay.nl.po" />
			<ComponentRef Id="wesay.oc.po" />
			<ComponentRef Id="wesay.pl.po" />
			<ComponentRef Id="wesay.pt.po" />
			<ComponentRef Id="wesay.ru.po" />
			<ComponentRef Id="wesay.rw.po" />
			<ComponentRef Id="wesay.sv.po" />
			<ComponentRef Id="wesay.th.po" />
			<ComponentRef Id="wesay.tpi.po" />
			<ComponentRef Id="wesay.vi.po" />
			<ComponentRef Id="wesay.zh_CN.po" />
		</ComponentGroup>
	</Fragment>
</Wix>