<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<DirectoryRef Id="mercurial">
			<Component Id="hg.exe" Guid="A1D0594B-CCF9-4115-89E6-B5788DFD2E27">
				<File Id="hg.exe" Name="hg.exe" KeyPath="yes" Source="..\..\output\release\mercurial\hg.exe" />
			</Component>
			<Component Id="library.zip" Guid="CD7A5E6B-F183-4157-8C76-14228BE816FB">
				<File Id="library.zip" Name="library.zip" Source="..\..\output\release\mercurial\library.zip" />
			</Component>
			<Component Id="python26.dll" Guid="97153F6F-F0C1-4A65-B7BC-6EB5C1200B89">
				<File Id="python26.dll" Name="python26.dll" Source="..\..\output\release\mercurial\python26.dll" />
			</Component>
			<Component Id="ReadMe.html" Guid="22894AC9-158B-40BD-8272-067504BB7843">
				<File Id="ReadMe.html" Name="ReadMe.html" Source="..\..\output\release\mercurial\ReadMe.html" />
			</Component>
			<Directory Id="mercurial.hgrc.d" Name="hgrc.d">
				<Component Id="Mercurial.rc" Guid="7D5425BF-B855-42F1-A705-D962E929B852">
					<File Id="Mercurial.rc" Name="Mercurial.rc" KeyPath="yes" Source="..\..\output\release\mercurial\hgrc.d\Mercurial.rc" />
				</Component>
				<Component Id="MergeTools.rc" Guid="DFB404CF-F414-4DAD-8800-63E9289E962F">
					<File Id="MergeTools.rc" Name="MergeTools.rc" Source="..\..\output\release\mercurial\hgrc.d\MergeTools.rc" />
				</Component>
			</Directory>
			<Directory Id="mercurial.templates" Name="templates">
				<Component Id="map_cmdline.changelog" Guid="329CABC4-E871-465A-8D9E-D158AB94243C">
					<File Id="map_cmdline.changelog" Name="map-cmdline.changelog" KeyPath="yes" Source="..\..\output\release\mercurial\templates\map-cmdline.changelog" />
				</Component>
				<Component Id="map_cmdline.compact" Guid="D953C8F2-6740-414F-8187-8E4C2F3D1FD1">
					<File Id="map_cmdline.compact" Name="map-cmdline.compact" Source="..\..\output\release\mercurial\templates\map-cmdline.compact" />
				</Component>
				<Component Id="map_cmdline.default" Guid="2E3EE5E0-5582-4304-80DF-722B81634E42">
					<File Id="map_cmdline.default" Name="map-cmdline.default" Source="..\..\output\release\mercurial\templates\map-cmdline.default" />
				</Component>
				<Component Id="map_cmdline.xml" Guid="4961B4A0-E7A8-4B29-8797-449C751C1E04">
					<File Id="map_cmdline.xml" Name="map-cmdline.xml" Source="..\..\output\release\mercurial\templates\map-cmdline.xml" />
				</Component>
				<Component Id="template_vars.txt" Guid="9D3BFFF3-11BE-45CE-9114-9E7F0B3428A4">
					<File Id="template_vars.txt" Name="template-vars.txt" Source="..\..\output\release\mercurial\templates\template-vars.txt" />
				</Component>
				<Directory Id="mercurial.templates.atom" Name="atom">
					<Component Id="changelog.tmpl" Guid="7A880064-C603-42E3-82B0-CDB522642754">
						<File Id="changelog.tmpl" Name="changelog.tmpl" KeyPath="yes" Source="..\..\output\release\mercurial\templates\atom\changelog.tmpl" />
					</Component>
					<Component Id="changelogentry.tmpl" Guid="A8E02277-E52E-4EFF-9830-5CB9120B6A7F">
						<File Id="changelogentry.tmpl" Name="changelogentry.tmpl" Source="..\..\output\release\mercurial\templates\atom\changelogentry.tmpl" />
					</Component>
					<Component Id="error.tmpl" Guid="748E996C-648C-4727-9270-33D99F8C3C6F">
						<File Id="error.tmpl" Name="error.tmpl" Source="..\..\output\release\mercurial\templates\atom\error.tmpl" />
					</Component>
					<Component Id="filelog.tmpl" Guid="1CF0CBB2-6CEF-4C2B-9D56-B9D7F431EFBA">
						<File Id="filelog.tmpl" Name="filelog.tmpl" Source="..\..\output\release\mercurial\templates\atom\filelog.tmpl" />
					</Component>
					<Component Id="header.tmpl" Guid="B4C097EC-3EA5-4BE3-BD26-5EAC450672F8">
						<File Id="header.tmpl" Name="header.tmpl" Source="..\..\output\release\mercurial\templates\atom\header.tmpl" />
					</Component>
					<Component Id="map" Guid="60D956A1-17C2-47D9-9D27-F702A39F3859">
						<File Id="map" Name="map" Source="..\..\output\release\mercurial\templates\atom\map" />
					</Component>
					<Component Id="tagentry.tmpl" Guid="67D2EE19-02E4-468E-989E-73FEF3187941">
						<File Id="tagentry.tmpl" Name="tagentry.tmpl" Source="..\..\output\release\mercurial\templates\atom\tagentry.tmpl" />
					</Component>
					<Component Id="tags.tmpl" Guid="48F859F0-5582-45C8-9030-66B1016B846C">
						<File Id="tags.tmpl" Name="tags.tmpl" Source="..\..\output\release\mercurial\templates\atom\tags.tmpl" />
					</Component>
				</Directory>
				<Directory Id="mercurial.templates.coal" Name="coal">
					<Component Id="header.tmpl1" Guid="29D652A3-B9AA-4063-807E-707938AE5DF2">
						<File Id="header.tmpl1" Name="header.tmpl" KeyPath="yes" Source="..\..\output\release\mercurial\templates\coal\header.tmpl" />
					</Component>
					<Component Id="map1" Guid="34C8E21B-5660-4877-8B73-FD275F5ABD87">
						<File Id="map1" Name="map" Source="..\..\output\release\mercurial\templates\coal\map" />
					</Component>
				</Directory>
				<Directory Id="mercurial.templates.gitweb" Name="gitweb">
					<Component Id="branches.tmpl" Guid="A9BC0892-635D-4E3E-8185-425E557FD83E">
						<File Id="branches.tmpl" Name="branches.tmpl" KeyPath="yes" Source="..\..\output\release\mercurial\templates\gitweb\branches.tmpl" />
					</Component>
					<Component Id="changelog.tmpl1" Guid="94F02982-E16B-41A0-B5F5-0E8BA3FBCF31">
						<File Id="changelog.tmpl1" Name="changelog.tmpl" Source="..\..\output\release\mercurial\templates\gitweb\changelog.tmpl" />
					</Component>
					<Component Id="changelogentry.tmpl1" Guid="BDE490B3-3064-424A-8667-6318F5F01178">
						<File Id="changelogentry.tmpl1" Name="changelogentry.tmpl" Source="..\..\output\release\mercurial\templates\gitweb\changelogentry.tmpl" />
					</Component>
					<Component Id="changeset.tmpl" Guid="8B067322-4AA2-439D-92EA-7D4369658435">
						<File Id="changeset.tmpl" Name="changeset.tmpl" Source="..\..\output\release\mercurial\templates\gitweb\changeset.tmpl" />
					</Component>
					<Component Id="error.tmpl1" Guid="5A776E9D-6B37-45F8-BDFB-7CA991CF411F">
						<File Id="error.tmpl1" Name="error.tmpl" Source="..\..\output\release\mercurial\templates\gitweb\error.tmpl" />
					</Component>
					<Component Id="fileannotate.tmpl" Guid="13D522C5-413D-43CE-B47C-AE6B0A704965">
						<File Id="fileannotate.tmpl" Name="fileannotate.tmpl" Source="..\..\output\release\mercurial\templates\gitweb\fileannotate.tmpl" />
					</Component>
					<Component Id="filediff.tmpl" Guid="325D09B4-B47A-43B1-956A-2D2404DABB5A">
						<File Id="filediff.tmpl" Name="filediff.tmpl" Source="..\..\output\release\mercurial\templates\gitweb\filediff.tmpl" />
					</Component>
					<Component Id="filelog.tmpl1" Guid="302A1775-97E5-4869-BF63-F60D1B28CEC5">
						<File Id="filelog.tmpl1" Name="filelog.tmpl" Source="..\..\output\release\mercurial\templates\gitweb\filelog.tmpl" />
					</Component>
					<Component Id="filerevision.tmpl" Guid="C31ED922-6DC8-4F0C-A945-54BC425A5F48">
						<File Id="filerevision.tmpl" Name="filerevision.tmpl" Source="..\..\output\release\mercurial\templates\gitweb\filerevision.tmpl" />
					</Component>
					<Component Id="footer.tmpl" Guid="6034E798-B6BD-479A-9272-06A93C5A5093">
						<File Id="footer.tmpl" Name="footer.tmpl" Source="..\..\output\release\mercurial\templates\gitweb\footer.tmpl" />
					</Component>
					<Component Id="graph.tmpl" Guid="01CD626C-BFF0-4E2D-A966-AB1957FB84E6">
						<File Id="graph.tmpl" Name="graph.tmpl" Source="..\..\output\release\mercurial\templates\gitweb\graph.tmpl" />
					</Component>
					<Component Id="header.tmpl2" Guid="36767EAE-DD7C-4950-8202-CD499ABC5243">
						<File Id="header.tmpl2" Name="header.tmpl" Source="..\..\output\release\mercurial\templates\gitweb\header.tmpl" />
					</Component>
					<Component Id="index.tmpl" Guid="FF0916F3-D3BB-4AEA-A0A8-59761BD4A5B1">
						<File Id="index.tmpl" Name="index.tmpl" Source="..\..\output\release\mercurial\templates\gitweb\index.tmpl" />
					</Component>
					<Component Id="manifest.tmpl" Guid="BCB90140-5D15-405A-8797-5FBB89CA9539">
						<File Id="manifest.tmpl" Name="manifest.tmpl" Source="..\..\output\release\mercurial\templates\gitweb\manifest.tmpl" />
					</Component>
					<Component Id="map2" Guid="B15AD1CD-1C5D-4001-84A3-AEF75A963E36">
						<File Id="map2" Name="map" Source="..\..\output\release\mercurial\templates\gitweb\map" />
					</Component>
					<Component Id="notfound.tmpl" Guid="C8FB7D3A-A3DF-4196-8C0D-B06F06F8EF91">
						<File Id="notfound.tmpl" Name="notfound.tmpl" Source="..\..\output\release\mercurial\templates\gitweb\notfound.tmpl" />
					</Component>
					<Component Id="search.tmpl" Guid="1E1707CE-956D-441D-901F-FC583C9185D6">
						<File Id="search.tmpl" Name="search.tmpl" Source="..\..\output\release\mercurial\templates\gitweb\search.tmpl" />
					</Component>
					<Component Id="shortlog.tmpl" Guid="6B78A341-FE48-486F-8028-45C53DD97B63">
						<File Id="shortlog.tmpl" Name="shortlog.tmpl" Source="..\..\output\release\mercurial\templates\gitweb\shortlog.tmpl" />
					</Component>
					<Component Id="summary.tmpl" Guid="E3499398-ADA8-4106-B7D2-0C2D0D0D84FE">
						<File Id="summary.tmpl" Name="summary.tmpl" Source="..\..\output\release\mercurial\templates\gitweb\summary.tmpl" />
					</Component>
					<Component Id="tags.tmpl1" Guid="E0693966-4A90-4D39-A8C5-A7D8D8328A4B">
						<File Id="tags.tmpl1" Name="tags.tmpl" Source="..\..\output\release\mercurial\templates\gitweb\tags.tmpl" />
					</Component>
				</Directory>
				<Directory Id="mercurial.templates.monoblue" Name="monoblue">
					<Component Id="branches.tmpl1" Guid="65F3B7A1-DE0E-4668-8329-5AD196475E94">
						<File Id="branches.tmpl1" Name="branches.tmpl" KeyPath="yes" Source="..\..\output\release\mercurial\templates\monoblue\branches.tmpl" />
					</Component>
					<Component Id="changelog.tmpl2" Guid="AC32131C-A937-4F8B-B585-5C944A112AF6">
						<File Id="changelog.tmpl2" Name="changelog.tmpl" Source="..\..\output\release\mercurial\templates\monoblue\changelog.tmpl" />
					</Component>
					<Component Id="changelogentry.tmpl2" Guid="F913CA6F-01B1-42C4-9FB3-0213AB36B93D">
						<File Id="changelogentry.tmpl2" Name="changelogentry.tmpl" Source="..\..\output\release\mercurial\templates\monoblue\changelogentry.tmpl" />
					</Component>
					<Component Id="changeset.tmpl1" Guid="D46E1CA2-06F4-4873-8775-EC153FFFF3CE">
						<File Id="changeset.tmpl1" Name="changeset.tmpl" Source="..\..\output\release\mercurial\templates\monoblue\changeset.tmpl" />
					</Component>
					<Component Id="error.tmpl2" Guid="40125FD9-17C3-4079-9624-6F26044C1038">
						<File Id="error.tmpl2" Name="error.tmpl" Source="..\..\output\release\mercurial\templates\monoblue\error.tmpl" />
					</Component>
					<Component Id="fileannotate.tmpl1" Guid="58AA7D39-C03E-4D74-8966-5DD570B419A8">
						<File Id="fileannotate.tmpl1" Name="fileannotate.tmpl" Source="..\..\output\release\mercurial\templates\monoblue\fileannotate.tmpl" />
					</Component>
					<Component Id="filediff.tmpl1" Guid="56C39417-ECFB-4802-ADD6-928EAA537EAB">
						<File Id="filediff.tmpl1" Name="filediff.tmpl" Source="..\..\output\release\mercurial\templates\monoblue\filediff.tmpl" />
					</Component>
					<Component Id="filelog.tmpl2" Guid="00E251C6-0DDB-43CA-B909-557A8EA61901">
						<File Id="filelog.tmpl2" Name="filelog.tmpl" Source="..\..\output\release\mercurial\templates\monoblue\filelog.tmpl" />
					</Component>
					<Component Id="filerevision.tmpl1" Guid="1332966C-82BF-4CA4-A94D-F70287C940A2">
						<File Id="filerevision.tmpl1" Name="filerevision.tmpl" Source="..\..\output\release\mercurial\templates\monoblue\filerevision.tmpl" />
					</Component>
					<Component Id="footer.tmpl1" Guid="201801F9-2E22-4932-B6B6-5C18BE98F8C0">
						<File Id="footer.tmpl1" Name="footer.tmpl" Source="..\..\output\release\mercurial\templates\monoblue\footer.tmpl" />
					</Component>
					<Component Id="graph.tmpl1" Guid="2A5B8C00-DF28-49B9-A490-E4432BEEA6E6">
						<File Id="graph.tmpl1" Name="graph.tmpl" Source="..\..\output\release\mercurial\templates\monoblue\graph.tmpl" />
					</Component>
					<Component Id="header.tmpl3" Guid="A44EF513-2DE8-41AE-B810-98F1D55AAC0F">
						<File Id="header.tmpl3" Name="header.tmpl" Source="..\..\output\release\mercurial\templates\monoblue\header.tmpl" />
					</Component>
					<Component Id="index.tmpl1" Guid="B95A6FA5-13E6-49C2-8D79-2265846B2AB4">
						<File Id="index.tmpl1" Name="index.tmpl" Source="..\..\output\release\mercurial\templates\monoblue\index.tmpl" />
					</Component>
					<Component Id="manifest.tmpl1" Guid="CA2A3BAE-B2F6-4E20-BEE0-A262B21EB116">
						<File Id="manifest.tmpl1" Name="manifest.tmpl" Source="..\..\output\release\mercurial\templates\monoblue\manifest.tmpl" />
					</Component>
					<Component Id="map3" Guid="01FDA4E6-C7AC-4466-8411-DD4E5B37D5D1">
						<File Id="map3" Name="map" Source="..\..\output\release\mercurial\templates\monoblue\map" />
					</Component>
					<Component Id="notfound.tmpl1" Guid="00545B2A-87F6-4E39-A480-0B75A22E51E7">
						<File Id="notfound.tmpl1" Name="notfound.tmpl" Source="..\..\output\release\mercurial\templates\monoblue\notfound.tmpl" />
					</Component>
					<Component Id="search.tmpl1" Guid="F6351044-BCA8-44B4-8FCD-BF4B35CBF8D9">
						<File Id="search.tmpl1" Name="search.tmpl" Source="..\..\output\release\mercurial\templates\monoblue\search.tmpl" />
					</Component>
					<Component Id="shortlog.tmpl1" Guid="E2763DA2-A920-4F00-AE8E-913460CE4AD1">
						<File Id="shortlog.tmpl1" Name="shortlog.tmpl" Source="..\..\output\release\mercurial\templates\monoblue\shortlog.tmpl" />
					</Component>
					<Component Id="summary.tmpl1" Guid="EDF2F266-E247-44AD-AEC2-E79AE18937A9">
						<File Id="summary.tmpl1" Name="summary.tmpl" Source="..\..\output\release\mercurial\templates\monoblue\summary.tmpl" />
					</Component>
					<Component Id="tags.tmpl2" Guid="EDB3389F-3A12-45A5-8F7A-BCFC3DB4A550">
						<File Id="tags.tmpl2" Name="tags.tmpl" Source="..\..\output\release\mercurial\templates\monoblue\tags.tmpl" />
					</Component>
				</Directory>
				<Directory Id="mercurial.templates.paper" Name="paper">
					<Component Id="branches.tmpl2" Guid="F891EF9E-98E9-4B48-9DF0-27B24C1627E0">
						<File Id="branches.tmpl2" Name="branches.tmpl" KeyPath="yes" Source="..\..\output\release\mercurial\templates\paper\branches.tmpl" />
					</Component>
					<Component Id="changeset.tmpl2" Guid="E12B9E0D-A7EA-44DD-8B13-2F3401B05CFB">
						<File Id="changeset.tmpl2" Name="changeset.tmpl" Source="..\..\output\release\mercurial\templates\paper\changeset.tmpl" />
					</Component>
					<Component Id="error.tmpl3" Guid="C4EA785B-64E3-4CD7-BFA9-49FBC9603349">
						<File Id="error.tmpl3" Name="error.tmpl" Source="..\..\output\release\mercurial\templates\paper\error.tmpl" />
					</Component>
					<Component Id="fileannotate.tmpl2" Guid="4DC05D32-4CD1-46CE-A5BC-438D768FFFE2">
						<File Id="fileannotate.tmpl2" Name="fileannotate.tmpl" Source="..\..\output\release\mercurial\templates\paper\fileannotate.tmpl" />
					</Component>
					<Component Id="filediff.tmpl2" Guid="813D6318-E0D0-4220-BF32-D75393F51116">
						<File Id="filediff.tmpl2" Name="filediff.tmpl" Source="..\..\output\release\mercurial\templates\paper\filediff.tmpl" />
					</Component>
					<Component Id="filelog.tmpl3" Guid="0E706D0A-A163-4E57-845C-11C6F311022D">
						<File Id="filelog.tmpl3" Name="filelog.tmpl" Source="..\..\output\release\mercurial\templates\paper\filelog.tmpl" />
					</Component>
					<Component Id="filelogentry.tmpl" Guid="0A5CE186-3EAB-42AB-8CEE-104BB331AFF1">
						<File Id="filelogentry.tmpl" Name="filelogentry.tmpl" Source="..\..\output\release\mercurial\templates\paper\filelogentry.tmpl" />
					</Component>
					<Component Id="filerevision.tmpl2" Guid="2B7882F5-421D-4FEB-AB89-F7F31EEAF1BA">
						<File Id="filerevision.tmpl2" Name="filerevision.tmpl" Source="..\..\output\release\mercurial\templates\paper\filerevision.tmpl" />
					</Component>
					<Component Id="footer.tmpl2" Guid="23FF7C84-DCB5-43AA-96FF-037AAD684BCC">
						<File Id="footer.tmpl2" Name="footer.tmpl" Source="..\..\output\release\mercurial\templates\paper\footer.tmpl" />
					</Component>
					<Component Id="graph.tmpl2" Guid="E814EB34-03E3-4696-A3C8-21E6050F688D">
						<File Id="graph.tmpl2" Name="graph.tmpl" Source="..\..\output\release\mercurial\templates\paper\graph.tmpl" />
					</Component>
					<Component Id="header.tmpl4" Guid="03641E37-085E-414A-ABCE-DDFB4F55BCEF">
						<File Id="header.tmpl4" Name="header.tmpl" Source="..\..\output\release\mercurial\templates\paper\header.tmpl" />
					</Component>
					<Component Id="index.tmpl2" Guid="0F76DEA7-8BC7-4D71-AA44-AD7FF701ACD0">
						<File Id="index.tmpl2" Name="index.tmpl" Source="..\..\output\release\mercurial\templates\paper\index.tmpl" />
					</Component>
					<Component Id="manifest.tmpl2" Guid="228A66CC-0805-4957-AB3D-1871D3E4E73C">
						<File Id="manifest.tmpl2" Name="manifest.tmpl" Source="..\..\output\release\mercurial\templates\paper\manifest.tmpl" />
					</Component>
					<Component Id="map4" Guid="97CDA36E-AEE5-4C61-9DFC-A8121B184BE1">
						<File Id="map4" Name="map" Source="..\..\output\release\mercurial\templates\paper\map" />
					</Component>
					<Component Id="notfound.tmpl2" Guid="9AC39385-BB1D-4979-BC8F-91DB1F420D84">
						<File Id="notfound.tmpl2" Name="notfound.tmpl" Source="..\..\output\release\mercurial\templates\paper\notfound.tmpl" />
					</Component>
					<Component Id="search.tmpl2" Guid="6320C8C4-C7CE-4210-A23D-675E606ED383">
						<File Id="search.tmpl2" Name="search.tmpl" Source="..\..\output\release\mercurial\templates\paper\search.tmpl" />
					</Component>
					<Component Id="shortlog.tmpl2" Guid="A8C93F1A-8837-440A-82F8-631A1D6825F4">
						<File Id="shortlog.tmpl2" Name="shortlog.tmpl" Source="..\..\output\release\mercurial\templates\paper\shortlog.tmpl" />
					</Component>
					<Component Id="shortlogentry.tmpl" Guid="9182612F-7B8C-4C37-9C82-EDFAB3429883">
						<File Id="shortlogentry.tmpl" Name="shortlogentry.tmpl" Source="..\..\output\release\mercurial\templates\paper\shortlogentry.tmpl" />
					</Component>
					<Component Id="tags.tmpl3" Guid="9CD621C5-9E95-499B-B9A3-FC3BC8C0F4EE">
						<File Id="tags.tmpl3" Name="tags.tmpl" Source="..\..\output\release\mercurial\templates\paper\tags.tmpl" />
					</Component>
				</Directory>
				<Directory Id="mercurial.templates.raw" Name="raw">
					<Component Id="changeset.tmpl3" Guid="6B8DD1C0-31ED-4EDD-8F69-4A7A15BE8C91">
						<File Id="changeset.tmpl3" Name="changeset.tmpl" KeyPath="yes" Source="..\..\output\release\mercurial\templates\raw\changeset.tmpl" />
					</Component>
					<Component Id="error.tmpl4" Guid="FC3E2778-9532-4CCB-8386-5DE4048A2D0E">
						<File Id="error.tmpl4" Name="error.tmpl" Source="..\..\output\release\mercurial\templates\raw\error.tmpl" />
					</Component>
					<Component Id="fileannotate.tmpl3" Guid="FB4712DF-2CFD-4F87-A038-CEBDB01E3C0E">
						<File Id="fileannotate.tmpl3" Name="fileannotate.tmpl" Source="..\..\output\release\mercurial\templates\raw\fileannotate.tmpl" />
					</Component>
					<Component Id="filediff.tmpl3" Guid="3B48DDC5-FFEB-4C33-B781-4A07F7B99906">
						<File Id="filediff.tmpl3" Name="filediff.tmpl" Source="..\..\output\release\mercurial\templates\raw\filediff.tmpl" />
					</Component>
					<Component Id="index.tmpl3" Guid="C8B54E76-79F3-4820-8352-26260B7EF00C">
						<File Id="index.tmpl3" Name="index.tmpl" Source="..\..\output\release\mercurial\templates\raw\index.tmpl" />
					</Component>
					<Component Id="manifest.tmpl3" Guid="43DD7F17-7C6D-46C1-8BDE-D5FFF623B73A">
						<File Id="manifest.tmpl3" Name="manifest.tmpl" Source="..\..\output\release\mercurial\templates\raw\manifest.tmpl" />
					</Component>
					<Component Id="map5" Guid="27480E6E-6DD9-4352-9709-A976B4D6DAC0">
						<File Id="map5" Name="map" Source="..\..\output\release\mercurial\templates\raw\map" />
					</Component>
					<Component Id="notfound.tmpl3" Guid="E0799112-03BE-43AF-9C17-976D6D876C30">
						<File Id="notfound.tmpl3" Name="notfound.tmpl" Source="..\..\output\release\mercurial\templates\raw\notfound.tmpl" />
					</Component>
				</Directory>
				<Directory Id="mercurial.templates.rss" Name="rss">
					<Component Id="changelog.tmpl3" Guid="C774D8B1-23BF-4D6D-8AC7-D837E3E4C03E">
						<File Id="changelog.tmpl3" Name="changelog.tmpl" KeyPath="yes" Source="..\..\output\release\mercurial\templates\rss\changelog.tmpl" />
					</Component>
					<Component Id="changelogentry.tmpl3" Guid="07D66F43-3612-4BC0-A4A3-2DA0F9840D8D">
						<File Id="changelogentry.tmpl3" Name="changelogentry.tmpl" Source="..\..\output\release\mercurial\templates\rss\changelogentry.tmpl" />
					</Component>
					<Component Id="error.tmpl5" Guid="5DE710A8-4526-412B-AFA0-E812E5DE2941">
						<File Id="error.tmpl5" Name="error.tmpl" Source="..\..\output\release\mercurial\templates\rss\error.tmpl" />
					</Component>
					<Component Id="filelog.tmpl4" Guid="CBD9A3D4-59A2-4AC2-9544-92B02B0D4406">
						<File Id="filelog.tmpl4" Name="filelog.tmpl" Source="..\..\output\release\mercurial\templates\rss\filelog.tmpl" />
					</Component>
					<Component Id="filelogentry.tmpl1" Guid="623FE1D7-47FF-4D11-9FB8-215025C3F2D0">
						<File Id="filelogentry.tmpl1" Name="filelogentry.tmpl" Source="..\..\output\release\mercurial\templates\rss\filelogentry.tmpl" />
					</Component>
					<Component Id="header.tmpl5" Guid="0C64DED3-E516-417E-AC74-3EB3E825D4CB">
						<File Id="header.tmpl5" Name="header.tmpl" Source="..\..\output\release\mercurial\templates\rss\header.tmpl" />
					</Component>
					<Component Id="map6" Guid="7A702530-8622-45EE-9593-A20AA863AEFB">
						<File Id="map6" Name="map" Source="..\..\output\release\mercurial\templates\rss\map" />
					</Component>
					<Component Id="tagentry.tmpl1" Guid="4EF3E5A7-9636-4AF9-94E7-17CB80CFDED3">
						<File Id="tagentry.tmpl1" Name="tagentry.tmpl" Source="..\..\output\release\mercurial\templates\rss\tagentry.tmpl" />
					</Component>
					<Component Id="tags.tmpl4" Guid="B4147093-9E2E-430D-A040-977352427621">
						<File Id="tags.tmpl4" Name="tags.tmpl" Source="..\..\output\release\mercurial\templates\rss\tags.tmpl" />
					</Component>
				</Directory>
				<Directory Id="mercurial.templates.spartan" Name="spartan">
					<Component Id="branches.tmpl3" Guid="A4C6E7B3-7F82-46EE-BB90-E436A4E5B957">
						<File Id="branches.tmpl3" Name="branches.tmpl" KeyPath="yes" Source="..\..\output\release\mercurial\templates\spartan\branches.tmpl" />
					</Component>
					<Component Id="changelog.tmpl4" Guid="561FE788-11DF-4B89-8759-1F01D9489B05">
						<File Id="changelog.tmpl4" Name="changelog.tmpl" Source="..\..\output\release\mercurial\templates\spartan\changelog.tmpl" />
					</Component>
					<Component Id="changelogentry.tmpl4" Guid="B6C76204-C07A-44DC-B77F-1431323333E6">
						<File Id="changelogentry.tmpl4" Name="changelogentry.tmpl" Source="..\..\output\release\mercurial\templates\spartan\changelogentry.tmpl" />
					</Component>
					<Component Id="changeset.tmpl4" Guid="2F47B942-0737-483F-B780-FB7EFD75366B">
						<File Id="changeset.tmpl4" Name="changeset.tmpl" Source="..\..\output\release\mercurial\templates\spartan\changeset.tmpl" />
					</Component>
					<Component Id="error.tmpl6" Guid="E2A56BA5-BBB7-46A1-9876-40B4E5143E8B">
						<File Id="error.tmpl6" Name="error.tmpl" Source="..\..\output\release\mercurial\templates\spartan\error.tmpl" />
					</Component>
					<Component Id="fileannotate.tmpl4" Guid="D51897BA-7A2B-4462-ADE1-153BE0434737">
						<File Id="fileannotate.tmpl4" Name="fileannotate.tmpl" Source="..\..\output\release\mercurial\templates\spartan\fileannotate.tmpl" />
					</Component>
					<Component Id="filediff.tmpl4" Guid="FA2C6B17-D9F7-4D11-8C33-62EE5F3F1D08">
						<File Id="filediff.tmpl4" Name="filediff.tmpl" Source="..\..\output\release\mercurial\templates\spartan\filediff.tmpl" />
					</Component>
					<Component Id="filelog.tmpl5" Guid="2052C711-7D4F-4AAB-978E-B9C4CF88F77D">
						<File Id="filelog.tmpl5" Name="filelog.tmpl" Source="..\..\output\release\mercurial\templates\spartan\filelog.tmpl" />
					</Component>
					<Component Id="filelogentry.tmpl2" Guid="95E5881E-83AE-46E5-9820-E03AC995F474">
						<File Id="filelogentry.tmpl2" Name="filelogentry.tmpl" Source="..\..\output\release\mercurial\templates\spartan\filelogentry.tmpl" />
					</Component>
					<Component Id="filerevision.tmpl3" Guid="F08958B8-1764-4D69-BBDC-3D2DD2AFE1DA">
						<File Id="filerevision.tmpl3" Name="filerevision.tmpl" Source="..\..\output\release\mercurial\templates\spartan\filerevision.tmpl" />
					</Component>
					<Component Id="footer.tmpl3" Guid="2E9D99F8-8712-4570-A5B8-8B407B33F068">
						<File Id="footer.tmpl3" Name="footer.tmpl" Source="..\..\output\release\mercurial\templates\spartan\footer.tmpl" />
					</Component>
					<Component Id="graph.tmpl3" Guid="D7C58A38-F2D7-42DE-962F-D6779692AD7D">
						<File Id="graph.tmpl3" Name="graph.tmpl" Source="..\..\output\release\mercurial\templates\spartan\graph.tmpl" />
					</Component>
					<Component Id="header.tmpl6" Guid="728D76A4-D35A-474B-AB2E-D6A41280DCFA">
						<File Id="header.tmpl6" Name="header.tmpl" Source="..\..\output\release\mercurial\templates\spartan\header.tmpl" />
					</Component>
					<Component Id="index.tmpl4" Guid="0152F9E3-2082-41EC-B7C3-D3F00DCCE465">
						<File Id="index.tmpl4" Name="index.tmpl" Source="..\..\output\release\mercurial\templates\spartan\index.tmpl" />
					</Component>
					<Component Id="manifest.tmpl4" Guid="968C8440-6822-4FF8-9C26-A7DA84DA8807">
						<File Id="manifest.tmpl4" Name="manifest.tmpl" Source="..\..\output\release\mercurial\templates\spartan\manifest.tmpl" />
					</Component>
					<Component Id="map7" Guid="8B7AF860-FE5F-465E-A0CD-090B5D2C5086">
						<File Id="map7" Name="map" Source="..\..\output\release\mercurial\templates\spartan\map" />
					</Component>
					<Component Id="notfound.tmpl4" Guid="E09169E6-BC79-434C-BF99-A3761A2E96D3">
						<File Id="notfound.tmpl4" Name="notfound.tmpl" Source="..\..\output\release\mercurial\templates\spartan\notfound.tmpl" />
					</Component>
					<Component Id="search.tmpl3" Guid="6E2E1890-5F31-4625-9CE0-9377D7167E85">
						<File Id="search.tmpl3" Name="search.tmpl" Source="..\..\output\release\mercurial\templates\spartan\search.tmpl" />
					</Component>
					<Component Id="shortlog.tmpl3" Guid="B5B2672F-E901-43F7-A71B-3D56FFBC2341">
						<File Id="shortlog.tmpl3" Name="shortlog.tmpl" Source="..\..\output\release\mercurial\templates\spartan\shortlog.tmpl" />
					</Component>
					<Component Id="shortlogentry.tmpl1" Guid="FF0B6451-7428-4938-8345-8A7E090F4C1A">
						<File Id="shortlogentry.tmpl1" Name="shortlogentry.tmpl" Source="..\..\output\release\mercurial\templates\spartan\shortlogentry.tmpl" />
					</Component>
					<Component Id="tags.tmpl5" Guid="7A42AE41-2DAF-435A-9B87-94408D5B49C1">
						<File Id="tags.tmpl5" Name="tags.tmpl" Source="..\..\output\release\mercurial\templates\spartan\tags.tmpl" />
					</Component>
				</Directory>
				<Directory Id="mercurial.templates.static" Name="static">
					<Component Id="background.png" Guid="B42C2CBC-48C6-43C0-9341-649599B13CB9">
						<File Id="background.png" Name="background.png" KeyPath="yes" Source="..\..\output\release\mercurial\templates\static\background.png" />
					</Component>
					<Component Id="coal_file.png" Guid="B6B2C8D4-F459-45C5-B34B-2327C3ACA0EE">
						<File Id="coal_file.png" Name="coal-file.png" Source="..\..\output\release\mercurial\templates\static\coal-file.png" />
					</Component>
					<Component Id="coal_folder.png" Guid="CFBD2F39-CC72-4ADD-B9CE-7AF577A8316E">
						<File Id="coal_folder.png" Name="coal-folder.png" Source="..\..\output\release\mercurial\templates\static\coal-folder.png" />
					</Component>
					<Component Id="excanvas.js" Guid="9CED4301-E8D9-48ED-AC73-D623C61DB400">
						<File Id="excanvas.js" Name="excanvas.js" Source="..\..\output\release\mercurial\templates\static\excanvas.js" />
					</Component>
					<Component Id="graph.js" Guid="D8D1BE33-F326-4144-9710-869694455655">
						<File Id="graph.js" Name="graph.js" Source="..\..\output\release\mercurial\templates\static\graph.js" />
					</Component>
					<Component Id="hgicon.png" Guid="DA5210E3-BC07-49F6-9968-5C5B459B7A96">
						<File Id="hgicon.png" Name="hgicon.png" Source="..\..\output\release\mercurial\templates\static\hgicon.png" />
					</Component>
					<Component Id="hglogo.png" Guid="A803E21E-ED3D-444A-944E-36E27EEADE3A">
						<File Id="hglogo.png" Name="hglogo.png" Source="..\..\output\release\mercurial\templates\static\hglogo.png" />
					</Component>
					<Component Id="style_coal.css" Guid="D20095DA-F6D5-4C29-85C9-6855699C2D81">
						<File Id="style_coal.css" Name="style-coal.css" Source="..\..\output\release\mercurial\templates\static\style-coal.css" />
					</Component>
					<Component Id="style_gitweb.css" Guid="A356A2C1-24DF-4F06-997F-218114928A02">
						<File Id="style_gitweb.css" Name="style-gitweb.css" Source="..\..\output\release\mercurial\templates\static\style-gitweb.css" />
					</Component>
					<Component Id="style_monoblue.css" Guid="B62275A8-486D-44D9-A837-F05914E6385E">
						<File Id="style_monoblue.css" Name="style-monoblue.css" Source="..\..\output\release\mercurial\templates\static\style-monoblue.css" />
					</Component>
					<Component Id="style_paper.css" Guid="D694DB1C-ACDA-4595-B959-C325451670B0">
						<File Id="style_paper.css" Name="style-paper.css" Source="..\..\output\release\mercurial\templates\static\style-paper.css" />
					</Component>
					<Component Id="style.css" Guid="660873C5-D112-42F7-B49B-3A7B0CB61C49">
						<File Id="style.css" Name="style.css" Source="..\..\output\release\mercurial\templates\static\style.css" />
					</Component>
				</Directory>
			</Directory>
		</DirectoryRef>
		<ComponentGroup Id="Mercurial">
			<ComponentRef Id="hg.exe" />
			<ComponentRef Id="library.zip" />
			<ComponentRef Id="python26.dll" />
			<ComponentRef Id="ReadMe.html" />
			<ComponentRef Id="Mercurial.rc" />
			<ComponentRef Id="MergeTools.rc" />
			<ComponentRef Id="map_cmdline.changelog" />
			<ComponentRef Id="map_cmdline.compact" />
			<ComponentRef Id="map_cmdline.default" />
			<ComponentRef Id="map_cmdline.xml" />
			<ComponentRef Id="template_vars.txt" />
			<ComponentRef Id="changelog.tmpl" />
			<ComponentRef Id="changelogentry.tmpl" />
			<ComponentRef Id="error.tmpl" />
			<ComponentRef Id="filelog.tmpl" />
			<ComponentRef Id="header.tmpl" />
			<ComponentRef Id="map" />
			<ComponentRef Id="tagentry.tmpl" />
			<ComponentRef Id="tags.tmpl" />
			<ComponentRef Id="header.tmpl1" />
			<ComponentRef Id="map1" />
			<ComponentRef Id="branches.tmpl" />
			<ComponentRef Id="changelog.tmpl1" />
			<ComponentRef Id="changelogentry.tmpl1" />
			<ComponentRef Id="changeset.tmpl" />
			<ComponentRef Id="error.tmpl1" />
			<ComponentRef Id="fileannotate.tmpl" />
			<ComponentRef Id="filediff.tmpl" />
			<ComponentRef Id="filelog.tmpl1" />
			<ComponentRef Id="filerevision.tmpl" />
			<ComponentRef Id="footer.tmpl" />
			<ComponentRef Id="graph.tmpl" />
			<ComponentRef Id="header.tmpl2" />
			<ComponentRef Id="index.tmpl" />
			<ComponentRef Id="manifest.tmpl" />
			<ComponentRef Id="map2" />
			<ComponentRef Id="notfound.tmpl" />
			<ComponentRef Id="search.tmpl" />
			<ComponentRef Id="shortlog.tmpl" />
			<ComponentRef Id="summary.tmpl" />
			<ComponentRef Id="tags.tmpl1" />
			<ComponentRef Id="branches.tmpl1" />
			<ComponentRef Id="changelog.tmpl2" />
			<ComponentRef Id="changelogentry.tmpl2" />
			<ComponentRef Id="changeset.tmpl1" />
			<ComponentRef Id="error.tmpl2" />
			<ComponentRef Id="fileannotate.tmpl1" />
			<ComponentRef Id="filediff.tmpl1" />
			<ComponentRef Id="filelog.tmpl2" />
			<ComponentRef Id="filerevision.tmpl1" />
			<ComponentRef Id="footer.tmpl1" />
			<ComponentRef Id="graph.tmpl1" />
			<ComponentRef Id="header.tmpl3" />
			<ComponentRef Id="index.tmpl1" />
			<ComponentRef Id="manifest.tmpl1" />
			<ComponentRef Id="map3" />
			<ComponentRef Id="notfound.tmpl1" />
			<ComponentRef Id="search.tmpl1" />
			<ComponentRef Id="shortlog.tmpl1" />
			<ComponentRef Id="summary.tmpl1" />
			<ComponentRef Id="tags.tmpl2" />
			<ComponentRef Id="branches.tmpl2" />
			<ComponentRef Id="changeset.tmpl2" />
			<ComponentRef Id="error.tmpl3" />
			<ComponentRef Id="fileannotate.tmpl2" />
			<ComponentRef Id="filediff.tmpl2" />
			<ComponentRef Id="filelog.tmpl3" />
			<ComponentRef Id="filelogentry.tmpl" />
			<ComponentRef Id="filerevision.tmpl2" />
			<ComponentRef Id="footer.tmpl2" />
			<ComponentRef Id="graph.tmpl2" />
			<ComponentRef Id="header.tmpl4" />
			<ComponentRef Id="index.tmpl2" />
			<ComponentRef Id="manifest.tmpl2" />
			<ComponentRef Id="map4" />
			<ComponentRef Id="notfound.tmpl2" />
			<ComponentRef Id="search.tmpl2" />
			<ComponentRef Id="shortlog.tmpl2" />
			<ComponentRef Id="shortlogentry.tmpl" />
			<ComponentRef Id="tags.tmpl3" />
			<ComponentRef Id="changeset.tmpl3" />
			<ComponentRef Id="error.tmpl4" />
			<ComponentRef Id="fileannotate.tmpl3" />
			<ComponentRef Id="filediff.tmpl3" />
			<ComponentRef Id="index.tmpl3" />
			<ComponentRef Id="manifest.tmpl3" />
			<ComponentRef Id="map5" />
			<ComponentRef Id="notfound.tmpl3" />
			<ComponentRef Id="changelog.tmpl3" />
			<ComponentRef Id="changelogentry.tmpl3" />
			<ComponentRef Id="error.tmpl5" />
			<ComponentRef Id="filelog.tmpl4" />
			<ComponentRef Id="filelogentry.tmpl1" />
			<ComponentRef Id="header.tmpl5" />
			<ComponentRef Id="map6" />
			<ComponentRef Id="tagentry.tmpl1" />
			<ComponentRef Id="tags.tmpl4" />
			<ComponentRef Id="branches.tmpl3" />
			<ComponentRef Id="changelog.tmpl4" />
			<ComponentRef Id="changelogentry.tmpl4" />
			<ComponentRef Id="changeset.tmpl4" />
			<ComponentRef Id="error.tmpl6" />
			<ComponentRef Id="fileannotate.tmpl4" />
			<ComponentRef Id="filediff.tmpl4" />
			<ComponentRef Id="filelog.tmpl5" />
			<ComponentRef Id="filelogentry.tmpl2" />
			<ComponentRef Id="filerevision.tmpl3" />
			<ComponentRef Id="footer.tmpl3" />
			<ComponentRef Id="graph.tmpl3" />
			<ComponentRef Id="header.tmpl6" />
			<ComponentRef Id="index.tmpl4" />
			<ComponentRef Id="manifest.tmpl4" />
			<ComponentRef Id="map7" />
			<ComponentRef Id="notfound.tmpl4" />
			<ComponentRef Id="search.tmpl3" />
			<ComponentRef Id="shortlog.tmpl3" />
			<ComponentRef Id="shortlogentry.tmpl1" />
			<ComponentRef Id="tags.tmpl5" />
			<ComponentRef Id="background.png" />
			<ComponentRef Id="coal_file.png" />
			<ComponentRef Id="coal_folder.png" />
			<ComponentRef Id="excanvas.js" />
			<ComponentRef Id="graph.js" />
			<ComponentRef Id="hgicon.png" />
			<ComponentRef Id="hglogo.png" />
			<ComponentRef Id="style_coal.css" />
			<ComponentRef Id="style_gitweb.css" />
			<ComponentRef Id="style_monoblue.css" />
			<ComponentRef Id="style_paper.css" />
			<ComponentRef Id="style.css" />
		</ComponentGroup>
	</Fragment>
</Wix>