<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
	<DirectoryRef Id='ProgramDir'>
	  <Directory Id="common" Name="common">

		<Component Id="Burmese.po" Guid="{0EA30DD8-9395-41e3-B5FF-C2CC54571111}">
		  <File Id="Burmese.po" Name="Burmese.po" KeyPath="yes" Source="..\..\common\Burmese.po" />
		</Component>

		<Component Id="Thai.po" Guid="{0EA30DD8-9395-41e3-B5FF-C2CC54572222}">
		  <File Id="Thai.po" Name="Thai.po" KeyPath="yes" Source="..\..\common\Thai.po" />
		</Component>

		<Component Id="French.po" Guid="{0EA30DD8-9395-41e3-B5FF-C2CC54573333}">
		  <File Id="French.po" Name="French.po" KeyPath="yes" Source="..\..\common\French.po" />
		</Component>

		<Component Id="Chinese_simplified.po" Guid="{0EA30DD8-9395-41e3-B5FF-C2CC54574444}">
		  <File Id="Chinese_simplified.po" Name="Chinese (simplified).po" KeyPath="yes" Source="..\..\common\Chinese (simplified).po" />
		</Component>


		<Component Id="PartsOfSpeech.xml" Guid="{6B734BDE-1702-418D-93BC-40A7F310B14F}">
		  <File Id="PartsOfSpeech.xml" Name="PartsOfSpeech.xml" KeyPath="yes" Source="..\..\common\PartsOfSpeech.xml" />
		</Component>
		<Component Id="sampleWordList.txt" Guid="{0F09882D-8D30-49B9-90F6-61D20D17E14F}">
		  <File Id="sampleWordList.txt" Name="sampleWordList.txt" KeyPath="yes" Source="..\..\common\sampleWordList.txt" />
		</Component>
		<Component Id="SemanticDomains.xml" Guid="{0D314BE5-ABB3-4AB9-A698-F94FFA8B250C}">
		  <File Id="SemanticDomains.xml" Name="SemanticDomains.xml" KeyPath="yes" Source="..\..\common\SemanticDomains.xml" />
		</Component>
		<Component Id="default.WeSayConfig" Guid="{4D0210A0-095D-48DE-9399-4074A97864A4}">
		  <File Id="default.WeSayConfig" Name="default.WeSayConfig" KeyPath="yes" Source="..\..\common\default.WeSayConfig" />
		</Component>
		<Component Id="CommonWritingSystemPrefs.xml" Guid="{2D64A565-57BC-4D0C-BAAF-13AB5A686E9B}">
		  <File Id="CommonwritingSystemPrefs.xml" Name="writingSystemPrefs.xml" KeyPath="yes" Source="..\..\common\writingSystemPrefs.xml" />
		</Component>

		<Component Id="Ddp4.xml" Guid="{0036EBE1-93B6-463e-A089-8DB1201E61A6}">
		  <File Id="Ddp4.xml" Name="Ddp4.xml" KeyPath="yes" Source="..\..\common\Ddp4.xml" />
		</Component>
		<Component Id="Ddp4Questions_en.xml" Guid="{D89FD082-3189-4ade-8477-A07B60C99790}">
		  <File Id="Ddp4Questions_en.xml" Name="Ddp4Questions-en.xml" KeyPath="yes" Source="..\..\common\Ddp4Questions-en.xml" />
		</Component>
		<Component Id="Ddp4Questions_fr.xml" Guid="{48879B52-29CB-4197-B238-5276AFB8CB4B}">
		  <File Id="Ddp4Questions_fr.xml" Name="Ddp4Questions-fr.xml" KeyPath="yes" Source="..\..\common\Ddp4Questions-fr.xml" />
		</Component>

	  </Directory>
	</DirectoryRef>

 <!--   <FeatureRef Id="ProductFeature">
	  <ComponentRef Id="PartsOfSpeech.xml" />
	  <ComponentRef Id="sampleWordList.txt" />
	  <ComponentRef Id="SemanticDomains.xml" />
	  <ComponentRef Id="default.WeSayConfig" />
	  <ComponentRef Id="CommonWritingSystemPrefs.xml" />
	</FeatureRef>

	-->
  </Fragment>
</Wix>
