<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
	<DirectoryRef Id='ProgramDir'>
	  <Directory Id="common" Name="common">
		<Component Id="PartsOfSpeech.xml" Guid="{6B734BDE-1702-418D-93BC-40A7F310B14F}">
		  <File Id="PartsOfSpeech.xml" Name="PartsOfSpeech.xml" KeyPath="yes" Source="..\..\common\PartsOfSpeech.xml" />
		</Component>
		<Component Id="sampleWordList.txt" Guid="{0F09882D-8D30-49B9-90F6-61D20D17E14F}">
		  <File Id="sampleWordList.txt" Name="sampleWordList.txt" KeyPath="yes" Source="..\..\common\sampleWordList.txt" />
		</Component>
		<Component Id="SemanticDomains.xml" Guid="{0D314BE5-ABB3-4AB9-A698-F94FFA8B250C}">
		  <File Id="SemanticDomains.xml" Name="SemanticDomains.xml" KeyPath="yes" Source="..\..\common\SemanticDomains.xml" />
		</Component>
		<Component Id="taskInventory.xml" Guid="{4D0210A0-095D-48DE-9367-4074A97864A4}">
		  <File Id="taskInventory.xml" Name="taskInventory.xml" KeyPath="yes" Source="..\..\common\taskInventory.xml" />
		</Component>
		<Component Id="CommonWritingSystemPrefs.xml" Guid="{2D64A565-57BC-4D0C-BAAF-13AB5A686E9B}">
		  <File Id="CommonwritingSystemPrefs.xml" Name="writingSystemPrefs.xml" KeyPath="yes" Source="..\..\common\writingSystemPrefs.xml" />
		</Component>

		<Component Id="Ddp4.xml" Guid="{0036EBE1-93B6-463e-A089-8DB1201E61A6}">
		  <File Id="Ddp4.xml" Name="Ddp4.xml" KeyPath="yes" Source="..\..\common\Ddp4.xml" />
		</Component>
		<Component Id="Ddp4Questions-en.xml" Guid="{D89FD082-3189-4ade-8477-A07B60C99790}">
		  <File Id="Ddp4Questions-en.xml" Name="Ddp4Questions-en.xml" KeyPath="yes" Source="..\..\common\Ddp4Questions-en.xml" />
		</Component>
		<Component Id="Ddp4Questions-fr.xml" Guid="{48879B52-29CB-4197-B238-5276AFB8CB4B}">
		  <File Id="Ddp4Questions-fr.xml" Name="Ddp4Questions-fr.xml" KeyPath="yes" Source="..\..\common\Ddp4Questions-fr.xml" />
		</Component>

	  </Directory>
	</DirectoryRef>

 <!--   <FeatureRef Id="ProductFeature">
	  <ComponentRef Id="PartsOfSpeech.xml" />
	  <ComponentRef Id="sampleWordList.txt" />
	  <ComponentRef Id="SemanticDomains.xml" />
	  <ComponentRef Id="taskInventory.xml" />
	  <ComponentRef Id="CommonWritingSystemPrefs.xml" />
	</FeatureRef>

	-->
  </Fragment>
</Wix>
