<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<DirectoryRef Id="templatesDir">
			<Component Id="test1.txt" Guid="D4E8D260-E1D3-4068-A63A-AAC6A9EDF7C3">
				<File Id="test1.txt" Name="test1.txt" KeyPath="yes" Source="..\..\templates\test1.txt" />
			</Component>
		</DirectoryRef>
		<ComponentGroup Id="templates">
			<ComponentRef Id="test1.txt" />
		</ComponentGroup>
	</Fragment>
</Wix>