<?xml version="1.0" encoding="UTF-8"?>
<!-- These variables define the Windows Installer product version, product code and upgrade code. They   -->
<!-- will be used later on in this file.                                                                 -->
<?define Property_ProductVersion = "0.0.2" ?>
<?define Property_ProductCode = "9F47781C-9D4B-43d0-9A8F-D4571A7CEFED" ?>
<?define Property_UpgradeCode = "E98273E1-617B-4256-8A28-721F254D1A0B" ?>


<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="$(var.Property_ProductCode)" Name="WeSay" Language="1033"
		   Version="$(var.Property_ProductVersion)" Manufacturer="SIL"
		   UpgradeCode="$(var.Property_UpgradeCode)">
	<Package  Compressed="yes" InstallerVersion="200" />


	<!-- This information enables Windows Installer major upgrade functionality so users can seamlessly  -->
	<!-- install a new version of the product and have the old version automatically uninstall behind    -->
	<!-- the scenes. See the following topic in the MSDN Library for additional information:             -->
	<!-- http://msdn.microsoft.com/library/default.asp?url=/library/en-us/msi/setup/major_upgrades.asp   -->
	<Upgrade Id="$(var.Property_UpgradeCode)">
	  <UpgradeVersion Minimum="$(var.Property_ProductVersion)" OnlyDetect="yes" Property="NEWERVERSIONDETECTED" />
	  <UpgradeVersion Minimum="0.0.0" IncludeMinimum="yes" Maximum="$(var.Property_ProductVersion)" IncludeMaximum="no" Property="OLDERVERSIONBEINGUPGRADED" />
	</Upgrade>

	<!--
	"from the list: Don't use Advertise="yes" Advertised shortcuts are designed to allow
users to install just the shortcut for your app, then demand-install the
rest of the app the first time the icon is run.  If this is not behavior you
are trying to support, you're better off using non-advertised shortcuts. "-->

	<Condition Message="Before WeSay can install, you need to install Microsoft's free .NET Framework 2.0.">
	  <![CDATA[MsiNetAssemblySupport >= "2.0.50727"]]>
	</Condition>

	<!--review: ALLUSERS is not well researched -->
	<Property Id ="ALLUSERS">2</Property>

	<Directory Id="TARGETDIR" Name="SourceDir">
	  <Directory Id='ProgramMenuFolder' Name='Programs'>
		<Directory Id='WeSayShortcutDir' Name='WeSay'>
		  <Component Id ='removeShortcutDir' Guid ="{6DB2042E-998C-482a-A46A-A1EC83C059E0}">
			<RemoveFolder Id ="shortcutDirRemover" On ="uninstall"/>
			<RegistryKey Id="keyPathForRemoveShortcutDir" Action ="createAndRemoveOnUninstall" Root="HKCU" Key="SOFTWARE\WeSay\Components\WeSayShortcutDir">
			  <RegistryValue Type ="string" Value =""  Action ="write" KeyPath ="yes"/>
			</RegistryKey>
		  </Component>
		  <!--         <Component Id="Test" Guid ="{9483C884-78CF-4b1c-8886-6BE42E73DA65}">
			<Shortcut Id="SetupThaiShortcut1"  Directory="WeSayShortcutDir" Name="Thai Sample Setup1"
			 Arguments="[thai5000.words]"  Target="[!WeSay.App.exe]" Icon ="SampleSetupIcon" />
			<Registry Root="HKCU" Key="SOFTWARE\WeSay\Components\Test" KeyPath="yes" />

		  </Component>    -->
		</Directory>
	  </Directory>
	  <Directory Id="ProgramFilesFolder" Name="PFiles">
		<Directory Id="ProgramDir" Name="WeSay">


		  <Component Id="DocFiles" Guid="{F533B47C-A6F4-4284-A257-59C3C9B54526}">
			<File Id="Welcome.htm" Name="Welcome.htm" KeyPath="yes" Source="..\..\doc\Welcome.htm" />
		  </Component>

		  <Component Id="WeSay.App.exe" Guid="{406B533F-C5D5-49AD-9DC9-12375B80949F}">
			<Registry Root="HKCU" Key="SOFTWARE\WeSay\Components\WeSay.App.exe" KeyPath="yes" />

			<File Id="WeSay.App.exe" Name="WeSay.App.exe"  Source="..\..\output\release\WeSay.App.exe" />
			<File Id="WeSayLiftIconFile" Name="WeSayLIFTFile.ico" Source="..\..\artwork\WeSay.File.ico" />

			<!--- connect file types to icons and program to launch -->

			<ProgId Id='WeSay.LIFTFile' Description='Lexical Interchange FormaT file'>
			  <Extension Id='lift' ContentType='application/words'>
				<Verb Id='open' Command='Open' TargetFile ='WeSay.App.exe' Argument='"%1"' />
				<Verb Id='configure' Command='Configure WeSay Project' TargetFile='WeSayConfigurationTool' Argument='"%1"' />
			  </Extension>
			</ProgId>

			<RemoveRegistryKey Action ='removeOnUninstall' Root ='HKCR' Key ='.lift'/>
			<RemoveRegistryKey Action ='removeOnUninstall' Root ='HKCR' Key ='WeSay.LIFTFile'/>

			<Registry  Id='WordsIcon1' Root='HKCR' Key='.lift' Action='write'
			  Type='string' Value='WeSay.LIFTFile' />
			<Registry Id='WordsIcon2' Root='HKCR' Key='WeSay.LIFTFile' Action='write'
			  Type='string' Value='Lexical Interchange FormaT file' />
			<Registry Id='WordsIcon3' Root='HKCR' Key='WeSay.LIFTFile\DefaultIcon' Action='write'
			  Type='string' Value='[!WeSayLiftIconFile], 0' />

			<!-- another way:                 <Registry Id='LuaReg8' Root='HKCR' Key='VisualStudio.luaproj.8.0\Shell\Open\Command' Action='write'
					 Type='string' Value='"[ENVPATH_2005]" "%1"'/> -->

			<Shortcut Id="startmenuShortcut"  Directory="WeSayShortcutDir" Name="WeSay"
				 WorkingDirectory="ProgramDir" Target="[!WeSay.App.exe]"  Icon ="WeSay.App.exe" />

		  </Component>

		  <Component Id="WeSayConfigurationTool" Guid="{26CD1460-94D4-44CD-832A-EA750F5AA92A}">
			<Registry Root="HKCU" Key="SOFTWARE\WeSay\Components\WeSayConfigurationTool" KeyPath="yes" />

			<File Id="WeSayConfigurationTool" Name="WeSay Configuration Tool.exe" Source="..\..\output\release\WeSay Configuration Tool.exe" />
			<File Id="WeSayConfigIconFile" Name="WeSayConfigFile.ico" Source="..\..\artwork\WeSay.Config.File.ico" />

			<!--- connect file types to icons and program to launch -->

			<ProgId Id='WeSay.ConfigFile' Description='Configuration for a WeSay project'>
			  <Extension Id='WeSayConfig' ContentType='application/config'>
				<Verb Id='open' Command='Open' TargetFile ='WeSayConfigurationTool' Argument='"%1"' />
			  </Extension>
			</ProgId>

			<RemoveRegistryKey Action ='removeOnUninstall' Root ='HKCR' Key ='.WeSayConfig'/>
			<RemoveRegistryKey Action ='removeOnUninstall' Root ='HKCR' Key ='WeSay.ConfigFile'/>

			<Registry  Id='WeSayConfigIcon1' Root='HKCR' Key='.WeSayConfig' Action='write'
			  Type='string' Value='WeSay.ConfigFile' />
			<Registry Id='WeSayConfigIcon2' Root='HKCR' Key='WeSay.ConfigFile' Action='write'
			  Type='string' Value='WeSay configuration file' />
			<Registry Id='WeSayConfigIcon3' Root='HKCR' Key='WeSay.ConfigFile\DefaultIcon' Action='write'
			  Type='string' Value='[!WeSayConfigIconFile], 0' />


			<Shortcut Id="startmenuSplatt2"  Target ="[!WeSayConfigurationTool]" Directory="WeSayShortcutDir" Name="WeSay Configuration Tool"
	 WorkingDirectory="ProgramDir" Icon ="IconSetup.exe" />

		  </Component>
		  <Component Id="WeSayConfigurationTool.exe.config" Guid="{3FD496AE-6B71-4213-B3FD-39CF62698642}">
			<File Id="WeSayConfigurationTool.exe.config" Name="WeSay Configuration Tool.exe.config" KeyPath="yes" Source="..\..\output\release\WeSay Configuration Tool.exe.config" />
		  </Component>
		  <Component Id="WeSayConfigurationTool.pdb" Guid="{FA331270-82EF-4BB8-878C-724442249466}">
			<File Id="WeSayConfigurationTool.pdb" Name="WeSay Configuration Tool.pdb" KeyPath="yes" Source="..\..\output\release\WeSay Configuration Tool.pdb" />
		  </Component>
		  <Component Id="Castle.DynamicProxy.dll" Guid="{871D566A-F864-4946-AA65-6A7E07D24E1B}">
			<File Id="Castle.DynamicProxy.dll" Name="Castle.DynamicProxy.dll" KeyPath="yes" Source="..\..\output\release\Castle.DynamicProxy.dll" />
		  </Component>
		  <Component Id="CommonTools.dll" Guid="{C9296169-583C-4302-8504-ED2DEC99558B}">
			<File Id="CommonTools.dll" Name="CommonTools.dll" KeyPath="yes" Source="..\..\output\release\CommonTools.dll" />
		  </Component>
		  <Component Id="CommonTools.pdb" Guid="{3B8D43F0-7A64-4AC7-82A9-2A334E53F5AC}">
			<File Id="CommonTools.pdb" Name="CommonTools.pdb" KeyPath="yes" Source="..\..\output\release\CommonTools.pdb" />
		  </Component>
		  <Component Id="Db4objects.Db4o.dll" Guid="{A519B18E-56D3-45FA-A2C9-BA7A524259B2}">
			<File Id="Db4objects.Db4o.dll" Name="Db4objects.Db4o.dll" KeyPath="yes" Source="..\..\output\release\Db4objects.Db4o.dll" />
		  </Component>
		  <Component Id="Db4objects.Db4o.Tools.dll" Guid="{43EEAD0E-79B9-4E40-9FE0-BDEE34173B92}">
			<File Id="Db4objects.Db4o.Tools.dll" Name="Db4objects.Db4o.Tools.dll" KeyPath="yes" Source="..\..\output\release\Db4objects.Db4o.Tools.dll" />
		  </Component>


		  <Component Id="ICSharpCode.SharpZipLib.dll" Guid="{6254D0F2-A7AF-411C-801E-30EBB1E6D9D7}">
			<File Id="ICSharpCode.SharpZipLib.dll" Name="ICSharpCode.SharpZipLib.dll" KeyPath="yes" Source="..\..\output\release\ICSharpCode.SharpZipLib.dll" />
		  </Component>
		  <Component Id="KeymanLink.dll" Guid="{1720BDF8-C1A3-436A-8E32-00C871230230}">
			<File Id="KeymanLink.dll" Name="KeymanLink.dll" KeyPath="yes" Source="..\..\output\release\KeymanLink.dll" />
		  </Component>
		  <!--
		  <Component Id="KeymanLink.pdb" Guid="{267F7819-B00C-4D02-B305-5C62A6E0F816}">
			<File Id="KeymanLink.pdb" Name="KeymanLink.pdb" KeyPath="yes" Source="..\..\output\release\KeymanLink.pdb" />
		  </Component>
		  -->
		  <!--
		  <Component Id="KeymanLink.xml" Guid="{35D8CFC7-72A3-4948-824A-3035BB11CAD0}">
			<File Id="KeymanLink.xml" Name="KeymanLink.xml" KeyPath="yes" Source="..\..\output\release\KeymanLink.xml" />
		  </Component>
		  -->
		  <Component Id="LexicalModel.dll" Guid="{A685F027-A948-4045-A9B9-3DF8823E7E82}">
			<File Id="LexicalModel.dll" Name="LexicalModel.dll" KeyPath="yes" Source="..\..\output\release\LexicalModel.dll" />
		  </Component>
		  <Component Id="LexicalModel.pdb" Guid="{4717CE8D-4BD8-46FB-8A47-1C6C2C459377}">
			<File Id="LexicalModel.pdb" Name="LexicalModel.pdb" KeyPath="yes" Source="..\..\output\release\LexicalModel.pdb" />
		  </Component>
		  <Component Id="LexicalTools.dll" Guid="{B21B6EE7-28A6-4E01-AFEB-B1A72FD4A41F}">
			<File Id="LexicalTools.dll" Name="LexicalTools.dll" KeyPath="yes" Source="..\..\output\release\LexicalTools.dll" />
		  </Component>
		  <Component Id="LexicalTools.pdb" Guid="{DB30AF44-2E65-49AB-84E4-969CB6605CCA}">
			<File Id="LexicalTools.pdb" Name="LexicalTools.pdb" KeyPath="yes" Source="..\..\output\release\LexicalTools.pdb" />
		  </Component>
		  <Component Id="LiftIO.dll" Guid="{EC2E5E3E-19E8-4680-8377-447DBDDE9BDF}">
			<File Id="LiftIO.dll" Name="LiftIO.dll" KeyPath="yes" Source="..\..\output\release\LiftIO.dll" />
		  </Component>
		  <Component Id="mono.relaxng.dll" Guid="{68959BF8-AC50-47FD-8B06-718B3E7FC6B6}">
			<File Id="mono.relaxng.dll" Name="mono.relaxng.dll" KeyPath="yes" Source="..\..\output\release\mono.relaxng.dll" />
		  </Component>
		  <Component Id="NetReflector.dll" Guid="{AE9F3A6E-390F-46B3-AFCB-CE8A2E8EC769}">
			<File Id="NetReflector.dll" Name="NetReflector.dll" KeyPath="yes" Source="..\..\output\release\NetReflector.dll" />
		  </Component>
		  <!--
		  <Component Id="NetReflector.pdb" Guid="{92497411-A442-436D-9421-FC99DF5298DA}">
			<File Id="NetReflector.pdb" Name="NetReflector.pdb" KeyPath="yes" Source="..\..\output\release\NetReflector.pdb" />
		  </Component>
		  -->
		  <Component Id="PicoContainer.dll" Guid="{44CA9A8F-DF0D-4870-95F2-BDB6C56551D7}">
			<File Id="PicoContainer.dll" Name="PicoContainer.dll" KeyPath="yes" Source="..\..\output\release\PicoContainer.dll" />
		  </Component>
		  <Component Id="PicoContainer.pdb" Guid="{4C7A63B8-B4EC-485A-8709-B4F5807181C2}">
			<File Id="PicoContainer.pdb" Name="PicoContainer.pdb" KeyPath="yes" Source="..\..\output\release\PicoContainer.pdb" />
		  </Component>
		  <Component Id="PlatformSpecific.dll" Guid="{CEE389B4-D9AD-40CE-9055-C44C2042CB83}">
			<File Id="PlatformSpecific.dll" Name="PlatformSpecific.dll" KeyPath="yes" Source="..\..\output\release\PlatformSpecific.dll" />
		  </Component>
		  <Component Id="PlatformSpecific.pdb" Guid="{66142923-BAE1-4884-957C-11F6F2A3E800}">
			<File Id="PlatformSpecific.pdb" Name="PlatformSpecific.pdb" KeyPath="yes" Source="..\..\output\release\PlatformSpecific.pdb" />
		  </Component>
		  <Component Id="PalasoReporting.dll" Guid="{63142923-BAE1-4884-957C-11F6F2A3E800}">
			<File Id="PalasoReporting.dll" Name="PalasoReporting.dll" KeyPath="yes" Source="..\..\output\release\PalasoReporting.dll" />
		  </Component>

		  <Component Id="WeSay.App.exe.config" Guid="{ED8319B8-8325-4598-8E4C-004D3356E373}">
			<File Id="WeSay.App.exe.config" Name="WeSay.App.exe.config" KeyPath="yes" Source="..\..\output\release\WeSay.App.exe.config" />
		  </Component>
		  <Component Id="WeSay.App.pdb" Guid="{09985277-021A-445A-AB0F-E3563C536042}">
			<File Id="WeSay.App.pdb" Name="WeSay.App.pdb" KeyPath="yes" Source="..\..\output\release\WeSay.App.pdb" />
		  </Component>
		  <Component Id="WeSay.Data.dll" Guid="{9D7FBFF9-17CD-4242-8B35-83EE310890E4}">
			<File Id="WeSay.Data.dll" Name="WeSay.Data.dll" KeyPath="yes" Source="..\..\output\release\WeSay.Data.dll" />
		  </Component>
		  <Component Id="WeSay.Data.pdb" Guid="{AB4A19B4-6282-4880-BA85-8F95C97D2A20}">
			<File Id="WeSay.Data.pdb" Name="WeSay.Data.pdb" KeyPath="yes" Source="..\..\output\release\WeSay.Data.pdb" />
		  </Component>
		  <Component Id="WeSay.Foundation.dll" Guid="{D496A907-0424-4A9C-9A85-E4B100CD4E6F}">
			<File Id="WeSay.Foundation.dll" Name="WeSay.Foundation.dll" KeyPath="yes" Source="..\..\output\release\WeSay.Foundation.dll" />
		  </Component>
		  <Component Id="WeSay.Foundation.pdb" Guid="{B747F20D-2079-489F-98D2-330E01D168CB}">
			<File Id="WeSay.Foundation.pdb" Name="WeSay.Foundation.pdb" KeyPath="yes" Source="..\..\output\release\WeSay.Foundation.pdb" />
		  </Component>
		  <Component Id="WeSay.Project.dll" Guid="{F7D8A8F2-C244-472F-A184-426A6E4EDEDE}">
			<File Id="WeSay.Project.dll" Name="WeSay.Project.dll" KeyPath="yes" Source="..\..\output\release\WeSay.Project.dll" />
		  </Component>
		  <Component Id="WeSay.Project.pdb" Guid="{AC3C456E-89AD-4D23-A628-FEBC28445AAD}">
			<File Id="WeSay.Project.pdb" Name="WeSay.Project.pdb" KeyPath="yes" Source="..\..\output\release\WeSay.Project.pdb" />
		  </Component>
		  <Component Id="WeSay.UI.dll" Guid="{8597A830-9A97-4A74-A25F-3FEDF790B782}">
			<File Id="WeSay.UI.dll" Name="WeSay.UI.dll" KeyPath="yes" Source="..\..\output\release\WeSay.UI.dll" />
		  </Component>
		  <Component Id="WeSay.UI.pdb" Guid="{3A0709F0-361F-49F9-B50E-877BDA266A22}">
			<File Id="WeSay.UI.pdb" Name="WeSay.UI.pdb" KeyPath="yes" Source="..\..\output\release\WeSay.UI.pdb" />
		  </Component>

		  <Component Id="Addin.Transform.dll" Guid="{6E1139F5-2998-44bc-A393-018D4DFC00B7}">
			<File Id="Addin.Transform.dll" Name="Addin.Transform.dll" KeyPath="yes" Source="..\..\output\release\Addin.Transform.dll" />
		  </Component>


		  <Component Id="Addin.Backup.dll" Guid="{8597A830-9A97-4A74-A25F-3FEDF7901122}">
			<File Id="Addin.Backup.dll" Name="Addin.Backup.dll" KeyPath="yes" Source="..\..\output\release\Addin.Backup.dll" />
		  </Component>

		  <Component Id="Addin.LiftReports.dll" Guid="{8597A830-9A97-4A74-A25F-3FEDF7901111}">
			<File Id="Addin.LiftReports.dll" Name="Addin.LiftReports.dll" KeyPath="yes" Source="..\..\output\release\Addin.LiftReports.dll" />
		  </Component>
		  <!-- this is a LiftReports requirement -->
		  <Component Id="NVelocity.dll" Guid="{6254D0F2-A7AF-411C-801E-30EBB1E6D444}">
			<File Id="NVelocity.dll" Name="NVelocity.dll" KeyPath="yes" Source="..\..\output\release\NVelocity.dll" />
		  </Component>
		  <!-- this is an nvelocity requirement -->
		  <Component Id="log4net.dll" Guid="{6254D0F2-A7AF-411C-801E-30EBB1E6D555}">
			<File Id="log4net.dll" Name="log4net.dll" KeyPath="yes" Source="..\..\output\release\log4net.dll" />
		  </Component>
		  <!-- this is an nvelocity requirement -->
		  <Component Id="commons.dll" Guid="{6254D0F2-A7AF-411C-801E-30EBB1E6D666}">
			<File Id="commons.dll" Name="commons.dll" KeyPath="yes" Source="..\..\output\release\commons.dll" />
		  </Component>

		  <Component Id="WeSay.AddinLib.dll" Guid="{8597A830-9A97-4A74-A25F-3FEDF7902222}">
			<File Id="WeSay.AddinLib.dll" Name="WeSay.AddinLib.dll" KeyPath="yes" Source="..\..\output\release\WeSay.AddinLib.dll" />
		  </Component>
		  <Component Id="Mono.Addins.exe" Guid="{8597A830-9A97-4A74-A25F-3FEDF7903333}">
			<File Id="Mono.Addins.exe" Name="Mono.Addins.exe" KeyPath="yes" Source="..\..\output\release\Mono.Addins.exe" />
		  </Component>

		  <Component Id="Palaso.dll" Guid="{8984F36D-7C63-47aa-BE08-70A43962C184}">
			<File Id="Palaso.dll" Name="Palaso.dll" KeyPath="yes" Source="..\..\output\release\Palaso.dll" />
		  </Component>
		  <Component Id="Icu.Net.dll" Guid="{7EEB48AE-7494-4408-924F-24BCA99A6E22}">
			<File Id="Icu.Net.dll" Name="icu.net.dll" KeyPath="yes" Source="..\..\output\release\icu.net.dll" />
		  </Component>

		</Directory>
	  </Directory>
	</Directory>


	<Feature Id="ProductFeature" Level="1" Title="Basic Stuff">
	  <ComponentRef Id ="removeShortcutDir"/>

	  <ComponentRef Id="DocFiles"/>

	   <!-- assemblies -->
	  <ComponentRef Id="WeSayConfigurationTool" />
	  <ComponentRef Id="WeSayConfigurationTool.exe.config" />
	  <ComponentRef Id="WeSayConfigurationTool.pdb" />

	  <ComponentRef Id="Castle.DynamicProxy.dll" />
	  <ComponentRef Id="CommonTools.dll" />
	  <ComponentRef Id="CommonTools.pdb" />
	  <ComponentRef Id="Db4objects.Db4o.dll" />
	  <ComponentRef Id="Db4objects.Db4o.Tools.dll" />

	  <ComponentRef Id="ICSharpCode.SharpZipLib.dll" />
	  <ComponentRef Id="KeymanLink.dll" />
	  <!--<ComponentRef Id="KeymanLink.pdb" />-->
	  <!--<ComponentRef Id="KeymanLink.xml" />-->
	  <ComponentRef Id="LexicalModel.dll" />
	  <ComponentRef Id="LexicalModel.pdb" />
	  <ComponentRef Id="LexicalTools.dll" />
	  <ComponentRef Id="LexicalTools.pdb" />
	  <ComponentRef Id="LiftIO.dll" />
	  <ComponentRef Id="mono.relaxng.dll" />
	  <!--<ComponentRef Id="LiftIO.pdb" />-->
	  <ComponentRef Id="NetReflector.dll" />
	  <!--<ComponentRef Id="NetReflector.pdb" />-->
	  <ComponentRef Id="PicoContainer.dll" />
	  <ComponentRef Id="PicoContainer.pdb" />
	  <ComponentRef Id="PlatformSpecific.dll" />
	  <ComponentRef Id="PlatformSpecific.pdb" />
	  <ComponentRef Id="PalasoReporting.dll" />
	  <ComponentRef Id="WeSay.App.exe" />
	  <ComponentRef Id="WeSay.App.exe.config" />
	  <ComponentRef Id="WeSay.App.pdb" />
	  <ComponentRef Id="WeSay.Data.dll" />
	  <ComponentRef Id="WeSay.Data.pdb" />
	  <ComponentRef Id="WeSay.Foundation.dll" />
	  <ComponentRef Id="WeSay.Foundation.pdb" />
	  <ComponentRef Id="WeSay.Project.dll" />
	  <ComponentRef Id="WeSay.Project.pdb" />
	  <ComponentRef Id="WeSay.UI.dll" />
	  <ComponentRef Id="WeSay.UI.pdb" />

	  <ComponentRef Id="Addin.Backup.dll"/>
	  <ComponentRef Id="Addin.LiftReports.dll"/>
	  <ComponentRef Id="Addin.Transform.dll"/>
	  <ComponentRef Id="NVelocity.dll"/>
	  <ComponentRef Id="log4net.dll"/>
	  <ComponentRef Id="commons.dll"/>
	  <ComponentRef Id="WeSay.AddinLib.dll"/>
	  <ComponentRef Id="Mono.Addins.exe"/>

	  <ComponentRef Id="Palaso.dll"/>
	  <ComponentRef Id="Icu.Net.dll"/>

	  <!-- i tried to FeatureRef these from their own files but it didn't work -->
	  <ComponentRef Id="Burmese.po" />
	  <ComponentRef Id="Thai.po" />
	  <ComponentRef Id="French.po" />
	  <ComponentRef Id="Chinese (simplified).po" />

	  <ComponentRef Id="PartsOfSpeech.xml" />
	  <ComponentRef Id="sampleWordList.txt" />
	  <ComponentRef Id="SemanticDomains.xml" />
	  <ComponentRef Id="default.WeSayConfig" />
	  <ComponentRef Id="CommonWritingSystemPrefs.xml" />
	  <ComponentRef Id="Ddp4.xml"/>
	  <ComponentRef Id="Ddp4Questions_en.xml"/>
	  <ComponentRef Id="Ddp4Questions_fr.xml"/>



	  <!-- i tried to FeatureRef these from their own files but it didn't work -->

	  <ComponentRef Id ="biatahShortcuts"/>
	  <ComponentRef Id ="biatahWritingSystemPrefs"/>
	  <ComponentRef Id ="biatahWesayDir"/>
	  <ComponentRef Id ="biatahWordsCache"/>

	</Feature>
	<Media Id="1" Cabinet="product.cab" EmbedCab="yes" />
	<Icon Id="WeSay.App.exe" SourceFile ="..\..\output\release\WeSay.App.exe" />
	<Icon Id="IconSetup.exe" SourceFile ="..\..\output\release\WeSay Configuration Tool.exe" />
	<Icon Id="SampleSetupIcon" SourceFile ="..\..\artwork\WeSay.Config.File.ico" />
	<Icon Id="SampleRunIcon" SourceFile ="..\..\artwork\WeSay.File.ico" />

	<!--   <Property Id="BROWSER">
	  <RegistrySearch Id='DefaultBrowser' Type='raw'
	  Root='HKCR' Key='http\shell\open\command' />
	</Property>
	<CustomAction Id='LaunchWelcomePage' Property='BROWSER' ExeCommand='www.google.com' Return='asyncNoWait' />
-->
	<InstallExecuteSequence>
	  <RemoveExistingProducts After="InstallInitialize" />

	  <!--We need the condition here so that we only launch the executable when we make an installation but not when we remove the product-->
	  <Custom Action='LaunchWelcomePage' After='InstallFinalize'>NOT Installed</Custom>
	</InstallExecuteSequence>


	<CustomAction Id="LaunchWelcomePage" BinaryKey="WixCA" DllEntry="WixShellExec" Execute="immediate" Return="check" Impersonate="yes" />
	<Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Open readme" />
	<Property Id="WixShellExecTarget" Value="[!Welcome.htm]" />
	<!--<Property Id="WixShellExecTarget" Value="[#readme]" />-->
	<!--<UI>
	  <UIRef Id="WixUI_Minimal" />
	  <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchReadme" Order="1">NOT Installed</Publish>
	</UI>
	-->
  </Product>
  </Wix>
