Source: wesay
Section: editors
Priority: optional
Maintainer: Eberhard Beilharz <eb1@sil.org>
Standards-Version: 3.9.7
Homepage: https://software.sil.org/wesay/
Vcs-Git: https://github.com/sillsdev/wesay.git
Vcs-Browser: https://github.com/sillsdev/wesay
Build-Depends: debhelper (>=9.0.0),
  mono4-sil, mono-basic4-sil, gtk-sharp2-sil, libgdiplus4-sil, cli-common-dev (>= 0.8~),
  unzip,
  curl,
  libicu-dev, libenchant-dev, libsndfile-dev, libxklavier-dev, libdconf-dev, libasound2

Package: wesay
Architecture: any
Depends: ${misc:Depends}, ${cli:Depends},
 mono4-sil, mono-basic4-sil, gtk-sharp2-sil, libgdiplus4-sil,
 chmsee, udisks | udisks2, libasound2
Suggests: libreoffice-writer (>=3.4), evince | pdf-viewer, art-of-reading
Conflicts: wesay-stable
Description: A dictionary creation tool
 WeSay helps people build a dictionary in their own language. It has
 various ways to help native speakers to think of words in their
 language and enter some basic data about them (no backslash codes,
 just forms to fill in).
