#!/usr/bin/make -f
# -*- makefile -*-

#export CONFIGURATION=Release
export CONFIGURATION=Debug
export XDG_CONFIG_HOME=$HOME/.config

export MONO_PREFIX=/opt/mono-sil

%:
	dh $@ --with=cli --parallel

override_dh_auto_configure:

override_dh_auto_build:
	cd build && \
	./buildupdate.mono.sh && \
	./TestBuild.sh $(CONFIGURATION)
	rm -f output$(CONFIGURATION)/[Gg]ecko*

override_dh_auto_test:

override_dh_auto_install:
	. ./environ && \
	cd build && \
	xbuild /target:Install /p:Configuration=$(CONFIGURATION) /p:InstallDir=../debian/wesay/usr build.mono.proj

# Don't export any assemblies to other packages
override_dh_makeclilibs:

# Include mono-sil in shlib dirs searched
override_dh_shlibdeps:
	dh_shlibdeps -l$(MONO_PREFIX)/lib

# Include mono-sil in cli dirs searched
override_dh_clideps:
	mkdir -p debian/tmp/usr && ln -s $(MONO_PREFIX)/* debian/tmp/usr/ && \
	PATH=$(MONO_PREFIX)/bin:$(PATH) \
	dh_clideps internal-mono -l$(MONO_PREFIX)/lib \
		--exclude-moduleref=security.dll \
		--exclude-moduleref=icuuc58.dll --exclude-moduleref=icuin58.dll \
		--exclude-moduleref=icuuc57.dll --exclude-moduleref=icuin57.dll \
		--exclude-moduleref=icuuc56.dll --exclude-moduleref=icuin56.dll \
		--exclude-moduleref=icuuc55.dll --exclude-moduleref=icuin55.dll \
		--exclude-moduleref=icuuc54.dll --exclude-moduleref=icuin54.dll \
		--exclude-moduleref=icuuc52.dll --exclude-moduleref=icuin52.dll \
		--exclude-moduleref=icuuc48.dll --exclude-moduleref=icuin48.dll \
		--exclude-moduleref=libicuuc.so --exclude-moduleref=libicui18n.so \
		--exclude-moduleref=icu.net --exclude-moduleref=libdl.so \
		--exclude-moduleref=xul --exclude-moduleref=mozglue \
		--exclude-moduleref=libgeckofix.so --exclude-moduleref=irrKlang.NET4.dll \
		--exclude-moduleref=MSVCR100.dll \
		--exclude-moduleref=Autofac --exclude-moduleref=NDesk.DBus

# Don't strip debug symbols -- we want them for informative crash stack traces
override_dh_strip:

override_dh_clistrip:
