<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="WeSay.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<!-- Mono doesn't support allowExeDefinition
	  <section name="WeSay.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
-->
		</sectionGroup>
	</configSections>
	<userSettings>
		<WeSay.App.Properties.Settings>
   <setting name="CurrentWorkTask" serializeAs="String">
	<value />
   </setting>
   <setting name="NeedUpgrade" serializeAs="String">
	<value>True</value>
   </setting>
   <setting name="PreviousLiftPath" serializeAs="String">
	<value />
   </setting>
   <setting name="SkinName" serializeAs="String">
	<value />
   </setting>
  </WeSay.App.Properties.Settings>
	</userSettings>
	<startup/></configuration>
