Source: wesay
Section: editors
Priority: optional
Maintainer: Cambell Prince <cambell_prince@sil.org>
Build-Depends: debhelper (>=5), mono-gmcs (>=2.0), nant (>= 0.86+rc1), libmono-nunit2.2-cil, libmono1.0-cil, libmono2.0-cil, libmono-winforms2.0-cil, libmono-system-runtime2.0-cil, mono-2.0-devel
Standards-Version: 3.7.3

Package: wesay
Section: editors
Architecture: any
Depends: libmono-i18n2.0-cil (>=2.0), libmono0 (>=2.0), libmono-corlib2.0-cil (>= 2.0), libmono-system2.0-cil (>=2.0), libmono-system-runtime2.0-cil (>= 2.0), libicu-cil, libmono-winforms2.0-cil, scim-panelcontroller (>=1.0.1)
Conflicts: wesay-stable
Description: WeSay, a dictionary creation tool
 Wesay helps people build a dictionary in their own language. It has
 various ways to help native speakers to think of words in their
 language and enter some basic data about them (no backslash codes,
 just forms to fill in).
