/*+init {*/
*
{
	position: relative;
	margin: 0;
	padding: 0;
	font-size: 1em;
}
H1, H2, H3, H4, H5, H6, TH
{
	font-weight: inherit;
	=font-weight: expression(this.__FW?this.__FW:(new Function('t','return (t.__FW=t.parentNode.currentStyle.fontWeight)'))(this));
}
ADDRESS, CITE, DFN, VAR
{
	font-style: inherit;
	=font-style: expression(this.__FS?this.__FS:(new Function('t','return (t.__FS=t.parentNode.currentStyle.fontStyle)'))(this));
}
CAPTION, CODE, KBD, PRE, SAMP, TT, INPUT, TEXTAREA, SELECT, BUTTON
{
	font-family: inherit;
	=font-family: expression(this.__FF?this.__FF:(new Function('t','return (t.__FF=t.parentNode.currentStyle.fontFamily)'))(this));
}
TABLE
{
	border-spacing: 0;
}
TH
{
	text-align: left;
}
HTML, BODY, THEAD, TBODY, TFOOT, TR, TH, TD, BR
{
	position: static;
}
INPUT[type=hidden]
{
	display: none !important;
}
FIELDSET, A IMG
{
	border: 0;
}
BODY
{
	font-size: 100%;
	font-family: sans-serif;
	line-height: 1.5;
}
/*+}*/
BODY
{
	background-color: #CBFFB9;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
TR
{
	vertical-align: top;
}
TD
{
}
TABLE
{
}
IMG
{
	margin-right: 9px;
	/*+placement:shift -3px 5px;*/
	position: relative;
	left: -3px;
	top: 5px;
}
.queryBox
{
	border: 1px solid #000000;
	width: 138px;
	background-color: #FFFFFF;
}
.itemList
{
	background-color: #FFFFFF;
	height: 77px;
	width: 0px;
}
.fieldLabel
{
	width: 129px;
}
.majorGroup .fieldLabel
{
	font-weight: bold;
}
.majorGroup
{
	font-weight: bold;
}
.ghost
{
	color: #999999;
}
.fieldBlock
{
}
#select
{
	width: 170px;
}
.articleBox
{
	height: 67px;
}
.headword
{
	font-weight: bold;
}
.editBox
{
	/*+placement:anchor-top-left 115px 86px;*/
	position: absolute;
	left: 115px;
	top: 86px;
	height: 464px;
	width: 701px;
}
.editFrame
{
	background-color: #D01818;
	height: 340px;
	width: 22px;
}
TD .editFrame
{
	width: 548px;
	/*+placement:shift -161px 1px;*/
	position: relative;
	left: -161px;
	top: 1px;
}
.bottomBar
{
	/*[empty]float:;*/
	/*+placement:anchor-bottom-left 0px 0px;*/
	position: absolute;
	left: 0px;
	bottom: 0px;
}
.wsAbbreviation
{
	color: #999;
	width: 54px;
	font-weight: normal;
}
.majorGroup TD
{
/*This gives us more separation between the major group and what preceded it*/
	border-top: 11px solid #CBFFB9;
}
/**/
.fieldBox TD
{
/*This is to override the border width on .majorGroup TD, and set it to 0, otherwise we get the edtiable part lower than the width*/
	border: 1px none #000000;
}
.fieldBox
{
	background-color: #FFF;
	width: 388px;
}
.listBox
{
	height: 504px;
}
.navigationFrame
{
	height: 492px;
	background-color: #FFFFFF;
	width: 164px;
	margin-left: 8px;
}
