<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="WeSay.Setup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<WeSay.Setup.Properties.Settings>
			<setting name="LastProjectPath" serializeAs="String">
				<value />
			</setting>
			<setting name="NeedUpgrade" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="LastLiftImportPath" serializeAs="String">
				<value />
			</setting>
			<setting name="LastLiftExportPath" serializeAs="String">
				<value />
			</setting>
		</WeSay.Setup.Properties.Settings>
	</userSettings>
</configuration>