<?xml version="1.0"?>
<configuration>
  <configSections>
	<sectionGroup name="NUnit">
	  <section name="TestRunner" type="System.Configuration.NameValueSectionHandler"/>
	</sectionGroup>
  </configSections>

  <NUnit>
	<TestRunner>
	  <!-- tests using list control were failing because of drag-drop handler not
	  registered. Forcing STA instead of MTA fixes this. -->
	  <add key="ApartmentState" value="STA" />
	</TestRunner>
  </NUnit>
</configuration>
