<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="icu.net" version="2.7.1" targetFramework="net461" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="2.0.4" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyModel" version="2.0.4" targetFramework="net461" />
  <package id="Mono.Posix" version="7.1.0-final.1.21458.1" targetFramework="net461" />
  <package id="Mono.Unix" version="7.1.0-final.1.21458.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="NUnit" version="3.13.1" targetFramework="net461" />
  <package id="SIL.Core" version="9.0.0-beta0103" targetFramework="net461" />
  <package id="SIL.Core.Tests" version="9.0.0-beta0103" targetFramework="net461" />
  <package id="SIL.TestUtilities" version="9.0.0-beta0103" targetFramework="net461" />
  <package id="SIL.WritingSystems" version="9.0.0-beta0103" targetFramework="net461" />
  <package id="Spart" version="1.0.0" targetFramework="net461" />
  <package id="System.IO.FileSystem.AccessControl" version="4.7.0" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>