Source: wesay
Section: editors
Priority: optional
Maintainer: Cambell Prince <cambell_prince@sil.org>
Build-Depends: debhelper (>=7),
  mono-devel (>=2.10), cli-common-dev (>= 0.8~),
  unzip,
  libicu-dev, libenchant-dev, libsndfile-dev, libxklavier-dev, libdconf-dev,
  geckofx29
Standards-Version: 3.9.4

Package: wesay
Architecture: any
Depends: ${misc:Depends}, ${cli:Depends},
 mono-sil (>=3.4), mono-basic-sil, gtk-sharp2-sil, libgdiplus-sil,
 geckofx29,
 chmsee, udisks
Suggests: libreoffice-writer (>=3.4), evince | pdf-viewer, art-of-reading
Conflicts: wesay-stable
Description: A dictionary creation tool
 WeSay helps people build a dictionary in their own language. It has
 various ways to help native speakers to think of words in their
 language and enter some basic data about them (no backslash codes,
 just forms to fill in).
