#!/usr/bin/make -f

CONFIGURATION=Release
PALASO_CONFIGURATION=ReleaseMono
CHORUS_CONFIGURATION=ReleaseMono

CHORUSVER=$(shell ls -1 externals/chorus-* | sed -e 's/externals\/chorus\-\(.*\).tar.gz/\1/')
PALASOVER=$(shell tar tfz externals/chorus-$(CHORUSVER).tar.gz | grep libpalaso | sed -e 's/.*externals\/libpalaso\-\(.*\).tar.gz/\1/')

XBUILD=xbuild build/build.mono.proj /p:RootDir=$(CURDIR)
PALASO_XBUILD=xbuild libpalaso-$(PALASOVER)/build/build.mono.proj /p:RootDir=$(CURDIR)/libpalaso-$(PALASOVER)
CHORUS_XBUILD=xbuild chorus-$(CHORUSVER)/build/build.mono.proj /p:RootDir=$(CURDIR)/chorus-$(CHORUSVER)

export MONO_SHARED_DIR=/tmp

EXCLUDE_DCONF := $(shell pkg-config --atleast-version=0.14 dconf || echo yes)
CLIDEPS_EXCLUDE += $(if $(EXCLUDE_DCONF),--exclude-moduleref=libdconf.dll)

build: build-stamp
build-stamp:
	dh_testdir
	tar xfz externals/chorus-$(CHORUSVER).tar.gz
	tar xfz chorus-$(CHORUSVER)/externals/libpalaso-$(PALASOVER).tar.gz
	$(PALASO_XBUILD) /target:Compile /p:Configuration=$(PALASO_CONFIGURATION)
	mkdir -p chorus-$(CHORUSVER)/lib/$(CHORUS_CONFIGURATION)
	cp libpalaso-$(PALASOVER)/output/$(PALASO_CONFIGURATION)/Palaso.dll* chorus-$(CHORUSVER)/lib/$(CHORUS_CONFIGURATION)
	cp libpalaso-$(PALASOVER)/output/$(PALASO_CONFIGURATION)/Palaso.TestUtilities.dll* chorus-$(CHORUSVER)/lib/$(CHORUS_CONFIGURATION)
	cp libpalaso-$(PALASOVER)/output/$(PALASO_CONFIGURATION)/Palaso.Lift.dll* chorus-$(CHORUSVER)/lib/$(CHORUS_CONFIGURATION)
	cp libpalaso-$(PALASOVER)/output/$(PALASO_CONFIGURATION)/PalasoUIWindowsForms.dll* chorus-$(CHORUSVER)/lib/$(CHORUS_CONFIGURATION)
	cp libpalaso-$(PALASOVER)/output/$(PALASO_CONFIGURATION)/Palaso.BuildTasks.dll chorus-$(CHORUSVER)/build
	$(CHORUS_XBUILD) /target:Compile /p:Configuration=$(CHORUS_CONFIGURATION)
	mkdir -p lib/$(CONFIGURATION)
	cp libpalaso-$(PALASOVER)/output/$(PALASO_CONFIGURATION)/Palaso.dll* lib/$(CONFIGURATION)
	cp libpalaso-$(PALASOVER)/output/$(PALASO_CONFIGURATION)/Palaso.TestUtilities.dll* lib/$(CONFIGURATION)
	cp libpalaso-$(PALASOVER)/output/$(PALASO_CONFIGURATION)/Palaso.DictionaryServices.dll* lib/$(CONFIGURATION)
	cp libpalaso-$(PALASOVER)/output/$(PALASO_CONFIGURATION)/Palaso.Lift.dll* lib/$(CONFIGURATION)
	cp libpalaso-$(PALASOVER)/output/$(PALASO_CONFIGURATION)/Palaso.Media.dll* lib/$(CONFIGURATION)
	cp libpalaso-$(PALASOVER)/output/$(PALASO_CONFIGURATION)/Palaso.Tests.dll* lib/$(CONFIGURATION)
	cp libpalaso-$(PALASOVER)/output/$(PALASO_CONFIGURATION)/PalasoUIWindowsForms.dll* lib/$(CONFIGURATION)
	cp libpalaso-$(PALASOVER)/output/$(PALASO_CONFIGURATION)/PalasoUIWindowsForms.GeckoBrowserAdapter.dll* lib/$(CONFIGURATION)
	cp libpalaso-$(PALASOVER)/output/$(PALASO_CONFIGURATION)/Palaso.BuildTasks.dll build
	cp chorus-$(CHORUSVER)/output/$(CHORUS_CONFIGURATION)/Chorus.exe* lib/$(CONFIGURATION)
	cp chorus-$(CHORUSVER)/output/$(CHORUS_CONFIGURATION)/ChorusMerge.exe* lib/$(CONFIGURATION)
	cp chorus-$(CHORUSVER)/output/$(CHORUS_CONFIGURATION)/LibChorus.dll* lib/$(CONFIGURATION)
	$(XBUILD) /target:Compile /p:Configuration=$(CONFIGURATION)
	touch build-stamp

clean:
	dh_testdir
	$(XBUILD) /target:Clean
	rm -rf libpalaso*
	rm -rf chorus*
	rm -f *-stamp
	dh_clean

install: build install-stamp
install-stamp:
	dh_testdir
	dh_testroot
	dh_prep
	rm -f output/Release/[Gg]ecko*
	$(XBUILD) /target:Install /p:Configuration=$(CONFIGURATION) /p:InstallDir=../debian/wesay/usr
	dh_installdirs
	dh_install
	dh_installdocs
	dh_installchangelogs
	dh_installmime
	dh_icons
	dh_compress
	dh_fixperms
	dh_clifixperms
	dh_makeclilibs -V
	dh_clideps -d $(CLIDEPS_EXCLUDE)
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb
	touch install-stamp

binary-indep:

binary-arch: install

binary: binary-arch
