#!/usr/bin/make -f

CHORUSVER=$(shell ls -1 externals/chorus-* | sed -e 's/externals\/chorus\-\(.*\).tar.gz/\1/')
PALASOVER=$(shell tar tfz externals/chorus-$(CHORUSVER).tar.gz | grep libpalaso | sed -e 's/.*externals\/libpalaso\-\(.*\).tar.gz/\1/')

XBUILD=MONO_SHARED_DIR=/tmp /usr/bin/xbuild build/build.mono.proj /p:RootDir=$(CURDIR)
PALASO_XBUILD=MONO_SHARED_DIR=/tmp /usr/bin/xbuild libpalaso-$(PALASOVER)/build/build.mono.proj /p:RootDir=$(CURDIR)/libpalaso-$(PALASOVER)
CHORUS_XBUILD=MONO_SHARED_DIR=/tmp /usr/bin/xbuild chorus-$(CHORUSVER)/build/build.mono.proj /p:RootDir=$(CURDIR)/chorus-$(CHORUSVER)
build: build-stamp
build-stamp:
	dh_testdir
	tar xfz externals/chorus-$(CHORUSVER).tar.gz
	tar xfz chorus-$(CHORUSVER)/externals/libpalaso-$(PALASOVER).tar.gz
	$(PALASO_XBUILD) /target:Compile /p:Configuration=DebugMono
	cp libpalaso-$(PALASOVER)/output/DebugMono/Palaso.dll* chorus-$(CHORUSVER)/lib/DebugMono
	cp libpalaso-$(PALASOVER)/output/DebugMono/Palaso.TestUtilities.dll* chorus-$(CHORUSVER)/lib/DebugMono
	cp libpalaso-$(PALASOVER)/output/DebugMono/Palaso.BuildTasks.dll chorus-$(CHORUSVER)/build
	$(CHORUS_XBUILD) /target:Compile /p:Configuration=DebugMono
	cp libpalaso-$(PALASOVER)/output/DebugMono/Palaso.dll* lib/DebugMono
	cp libpalaso-$(PALASOVER)/output/DebugMono/Palaso.TestUtilities.dll* lib/DebugMono
	cp libpalaso-$(PALASOVER)/output/DebugMono/Palaso.DictionaryServices.dll* lib/DebugMono
	cp libpalaso-$(PALASOVER)/output/DebugMono/Palaso.Lift.dll* lib/DebugMono
	cp libpalaso-$(PALASOVER)/output/DebugMono/Palaso.Tests.dll* lib/DebugMono
	cp libpalaso-$(PALASOVER)/output/DebugMono/PalasoUIWindowsForms.dll* lib/DebugMono
	#cp libpalaso-$(PALASOVER)/output/DebugMono/Palaso.Media.dll* lib/DebugMono
	cp libpalaso-$(PALASOVER)/output/DebugMono/Palaso.BuildTasks.dll build
	cp chorus-$(CHORUSVER)/output/DebugMono/Chorus.exe* lib/DebugMono
	cp chorus-$(CHORUSVER)/output/DebugMono/ChorusMerge.exe* lib/DebugMono
	cp chorus-$(CHORUSVER)/output/DebugMono/LibChorus.dll* lib/DebugMono
	$(XBUILD) /target:Compile /p:Configuration=DebugMono
	touch build-stamp

clean:
	dh_testdir
	$(XBUILD) /target:Clean
	rm -rf libpalaso*
	rm -rf chorus*
	rm -f *-stamp
	dh_clean

install: build install-stamp
install-stamp:
	dh_testdir
	dh_testroot
	dh_prep
	$(XBUILD) /target:Install /p:InstallDir=../debian/wesay
	dh_installdirs
	dh_install
	dh_installdocs
	dh_installchangelogs
	dh_icons
	dh_compress
	dh_fixperms
	dh_clifixperms
	dh_clideps -d -i
	dh_shlibdeps
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb
	touch install-stamp

binary-indep: install

binary-arch:

binary: binary-indep
