[Desktop Entry]
Name=WeSay
Comment=Create a dictionary
GenericName=Lexicon Editor
Exec=wesay %f
Icon=sil-wesay
Terminal=false
Type=Application
Categories=GTK;GNOME;Office;
StartupNotify=true
