[Desktop Entry]
Name=WeSay
Comment=Create a dictionary
GenericName=Lexicon Editor
Exec=wesay %f
Icon=sil-wesay
MimeType=application/x-lift;
Terminal=false
Type=Application
Categories=GTK;GNOME;Office;
StartupNotify=true
