<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NetReflector" version="1.1.2009" requireReinstallation="true" />
  <package id="SIL.DictionaryServices" version="8.0.0" targetFramework="4.6.1" />
  <package id="SIL.Media" version="8.0.0" targetFramework="4.6.1" />
  <package id="Geckofx60.64" version="60.0.54" targetFramework="4.6.1" />
  <package id="Geckofx60.32" version="60.0.54" targetFramework="4.6.1" />
</packages>