
name: WeSay Installer

on:
  push:
    branches: [ develop ]

jobs:

  build:
    strategy:
      fail-fast: true
      matrix:
        os: [windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout
      uses: actions/checkout@v2.3.4
      with:
        submodules: recursive
        fetch-depth: 0

    # Install the .NET Core workload
    - name: Install .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x

    # Add  MSBuild to the PATH: https://github.com/microsoft/setup-msbuild
    - name: Setup MSBuild.exe (Windows OS)
      uses: microsoft/setup-msbuild@v1.0.2
      env:
        ACTIONS_ALLOW_UNSECURE_COMMANDS: true # So the PATH can be set by this step
      if: ${{ matrix.os == 'windows-latest' }}

    # Run the unit tests
    - name: Restore
      run: nuget restore src/WeSay.sln

    - name: Build
      env:
        ACTIONS_ALLOW_UNSECURE_COMMANDS: true # So gitversion can set environment vars during the build
      run: msbuild src/WeSay.sln /p:Configuration=Release
        
    - name: Build Installer
      run: msbuild build/Installer.targets /p:Configuration=Release /p:Platform=x86 /t:BuildRelease
      
    - name: Publish Installer
      uses: actions/upload-artifact@v2
      with:
        name: WeSayInstallers
        path: BuildDir/WeSay*.exe
